<div class="card">
    <div class="card-header pb-1 pt-0">
        <h6 class="m-0 font-weight-bold text-primary text-uppercase">Configuration</h6>
    </div>
    <div class="card-body p-0">
    	<div class="form-horizontal">
    		<div class="form-group row mr-0 mt-3">
    			<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 text-right">
    				<span class="text-danger">*</span>GST for Comp. Service Contract
    			</label>
    			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<div class="input-group">
					  	<select class="form-control">
							<option value="1">Popat Patel</option>
	    					<option value="2">P Patel</option>
	    				</select>
					  	<div class="input-group-append">
					    	<span class="input-group-text custom-info"><i class="fa fa-info"></i></span>
					  	</div>
					</div>
    			</div>
    			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<select class="form-control">
						<option value="1">Popat Patel</option>
    					<option value="2">P Patel</option>
    				</select>
    			</div>
    		</div>
    		<div class="form-group row mr-0 mt-3">
    			<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12"></label>
    			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
    				<div class="f-14">0% GST will be Applicable in SC Notification And SC Generation For Comprehensive SC Type.</div>
    				<div class="text-danger f-14">Note: Selected Service Code's Tax Percent will be Applied on Comprehensive Service Contract Generation.</div>
    			</div>
    		</div>
    		<div class="form-group row mr-0 mt-3">
    			<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 text-right">
    				<span class="text-danger">*</span>GST for Non-Comp. Service Contract
    			</label>
    			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<div class="input-group">
					  	<select class="form-control">
							<option value="1">Popat Patel</option>
	    					<option value="2">P Patel</option>
	    				</select>
					  	<div class="input-group-append">
					    	<span class="input-group-text custom-info"><i class="fa fa-info"></i></span>
					  	</div>
					</div>
    			</div>
    			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<select class="form-control">
						<option value="1">Popat Patel</option>
    					<option value="2">P Patel</option>
    				</select>
    			</div>
    		</div>
    		<div class="form-group row mr-0 mt-3">
    			<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12"></label>
    			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
    				<div class="f-14">0% GST will be Applicable in SC Notification And SC Generation For Non-Comprehensive SC Type.</div>
    				<div class="text-danger f-14">Note: Selected Service Code's Tax Percent will be Applied on Non-Comprehensive Service Contract Generation.</div>
    			</div>
    		</div>
    	</div>
    	<div class="table-content">
			<div class="w-100 text-center py-3 border-top">
				<button type="button" class="mr-2 btn btn-sm btn-undo">Undo</button>
				<button type="button" class="mr-2 btn btn-sm btn-save">Save</button>
			</div>
		</div>
    </div>
</div>