<div class="card">
    <div class="card-header pb-1 pt-0">
        <h6 class="m-0 font-weight-bold text-primary text-uppercase">Configuration Settings</h6>
    </div>
    <div class="card-body p-0">
    	<div class="form-horizontal">
    		<div class="form-group row mr-0 mt-3">
    			<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 text-right">
    				Show Complain Records Of Last N Days
    			</label>
    			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
					<input type="text" class="form-control" placeholder="">
    			</div>
    		</div>
    	</div>
    	<div class="table-content">
			<div class="w-100 text-center py-3 border-top">
				<button type="button" class="mr-2 btn btn-sm btn-undo">Undo</button>
				<button type="button" class="mr-2 btn btn-sm btn-save">Save</button>
			</div>
		</div>
    </div>
</div>