<div class="action-btns">
	<button (click)="viewCreateMode()" type="button" class="mr-2 btn btn-sm btn-secondary"><i class="fa fa-plus mr-1"></i>ADD</button>
	<div class="float-right f-16 pt-1">You are in ADD NEW Mode</div>
</div>
<form autocomplete="off">
	<div class="row" [formGroup]="purchaseForm" [class.disable-content]="(!createMode && !editMode)">
		<div class="col-lg-12 col-md-10">
			<div class="card">
				<div class="card-header py-1">
						<h6 class="m-0 font-weight-bold text-primary">{{ (createMode) ? 'ADD': ''}}{{ (editMode) ? 'EDIT': ''}} DELIVERY CHALLAN</h6>
				</div>
				<div class="card-body px-0 pb-3 pt-0">
					<div class="form-horizontal card-body-scroll pt-3">
						<div class="row mr-0 mb-3">
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-5 col-md-5 col-sm-5 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Client
									</label>
									<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 mt8">
										<select class="form-control" disabled [value]="purchaseForm.value.client_id">
											<option [value]="null">-- Select Client --</option>
											<option *ngFor="let itm of clients" [value]="itm.id">{{itm.account_name}}</option>
										</select>
									</div>
								</div>
								<div class="form-group row mr-0">
									<label class="col-lg-5 col-md-5 col-sm-5 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>PreSales Demand No
									</label>
									<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 mt8">
										<input disabled type="text" class="form-control" [value]="purchaseForm.value.pre_sale_demand_no" Placeholder="PreSales Demand No">
									</div>
								</div>
								<div class="form-group row mr-0">
									<label class="col-lg-5 col-md-5 col-sm-5 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Location
									</label>
									<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 mt8">
										<select class="form-control" disabled [value]="purchaseForm.value.location_id">
											<option [value]="null">-- Location --</option>
											<option *ngFor="let itm of locations" [value]="itm.id">{{itm.name}}</option>
										</select>
									</div>
								</div>
								<div class="form-group row mr-0">
									<label class="col-lg-5 col-md-5 col-sm-5 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Sales Executive
									</label>
									<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 mt8">
										<select class="form-control" disabled [value]="purchaseForm.value.sales_executive_id">
											<option [value]="null">-- Select Sales Executive --</option>
											<option *ngFor="let itm of staffs" [value]="itm.id">{{itm.first_name}} {{itm.last_name}}</option>
										</select>
									</div>
								</div>
								<div class="form-group row mr-0">
									<label class="col-lg-5 col-md-5 col-sm-5 text-right col-xs-12 control-label">
										<input type="radio" formControlName="collected_by" value="Collected"><span class="checkbox-text">Collected By Client, Name</span>
									</label>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mt8 pr-0">
										<input type="text" class="form-control" formControlName="collected_by_client" Placeholder="Collected By Client">
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mt8 pl-0">
										<div class="input-group">
											<div class="input-group-append">
												<span class="input-group-text custom-info"><i class="f-14 fa fa-phone-alt"></i></span>
											</div>
											<input type="text" class="form-control" formControlName="collected_by_contact" placeholder="Contact No">
										</div>
									</div>
								</div>
								<div class="form-group row mr-0">
									<label class="col-lg-5 col-md-5 col-sm-5 text-right col-xs-12 control-label">
										<input type="radio" formControlName="collected_by" value="Delivered"><span class="checkbox-text">Delivered (to Client) by</span>
									</label>
									<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 mt8">
										<select disabled class="form-control" [value]="purchaseForm.value.delivered_by">
											<option [value]="null">-- Select Delivered By --</option>
											<option *ngFor="let itm of staffs" [value]="itm.id">{{itm.first_name}} {{itm.last_name}}</option>
										</select>
									</div>
								</div>
								<div class="form-group row mr-0">
									<label class="col-lg-5 col-md-5 col-sm-5 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Supporting Engineer
									</label>
									<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 mt8">
										<select disabled class="form-control" [value]="purchaseForm.value.supporting_engineer">
											<option [value]="null">-- Select Supporting Engineer --</option>
											<option *ngFor="let itm of staffs" [value]="itm.id">{{itm.first_name}} {{itm.last_name}}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-5 col-md-5 col-sm-5 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Delivery Challan No
									</label>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mt8 pr-0">
										<input disabled type="text" class="form-control" [value]="purchaseForm.value.delivery_challan_no" Placeholder="Sr No">
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mt8 pl-0">
										<div class="input-group">
											<div class="input-group-append">
												<span class="input-group-text custom-info"><i class="f-14 fa fa-calendar"></i></span>
											</div>
											<input type="text" disabled [value]="purchaseForm.value.challan_date | date : 'dd/MM/y'" class="form-control" placeholder="Date">
										</div>
									</div>
								</div>
								<div class="form-group row mr-0">
									<label class="col-lg-5 col-md-5 col-sm-5 text-right col-xs-12 control-label">
										Pre-Sales Demand Date
									</label>
									<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 mt8">
										<input type="text" disabled class="form-control" [value]="purchaseForm.value.pre_sale_demand_date | date : 'dd/MM/y'" placeholder="Enter Date" id="pre_sale_demand_date">
									</div>
								</div>
								<div class="form-group row mr-0">
									<label class="col-lg-5 col-md-5 col-sm-5 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Quotation (Approved) No
									</label>
									<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 mt8">
										<input type="text" disabled class="form-control" value="{{quots?.quotation_no}}" placeholder="Quotation No">
									</div>
								</div>
								<div class="form-group row mr-0">
									<label class="col-lg-5 col-md-5 col-sm-5 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Issued (from store) by
									</label>
									<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 mt8">
										<select disabled class="form-control" [value]="purchaseForm.value.issued_by">
											<option [value]="null">-- Select Issued By --</option>
											<option *ngFor="let itm of staffs" [value]="itm.id">{{itm.first_name}} {{itm.last_name}}</option>
										</select>
									</div>
								</div>
								<div class="form-group row mr-0">
									<label class="col-lg-5 col-md-5 col-sm-5 text-right col-xs-12 control-label">
										Remarks
									</label>
									<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 mt8">
										<input type="text" disabled class="form-control" [value]="purchaseForm.value.remarks" placeholder="Enter Remarks">
									</div>
								</div>
							</div>
						</div>
						<div class="bg-secondary text-white d-inline-block px-2 py-1 f-14">
		    			MATERIAL PENDING TO DELIVER LIST
		    		</div>
		    		<div class="float-right pr-3"><button type="button" class="btn btn-sm btn-close">VIEW STOCK</button></div>
		    		<div class="table-responsive mb-3">
							<table class="table table-bordered mb-0 border-0 w-100" cellspacing="0" rules="all">
								<thead>
							    <tr class="text-center">
						        <th width="45">Srl</th>
						        <th width="150">Product Group.</th>
						        <th width="150">Model No.</th>
						        <th width="200">Product Description</th>
						        <th width="80">Demand, Qnty</th>
						        <th width="80">Pending to Deliver</th>
						        <th width="80">Stock Available</th>
						        <th width="35"></th>
							    </tr>
								</thead>
								<tbody>
							    <tr *ngFor="let prod of productDetails;let i = index">
							    	<td class="text-center">{{(i + 1)}}</td>
							    	<td>{{prod.group_name}}</td>
							    	<td>{{prod.product_name}}</td>
							    	<td><textarea disabled [class.bg-pink]="(prod.is_paired)" class="form-control border-0" rows="2" [innerHtml]="prod.description"></textarea></td>
							    	<td class="text-right">{{prod.qty}}</td>
							    	<td class="text-right">{{prod.pending_qty}}</td>
							    	<td class="text-right">0</td>
							    	<td class="text-center"><i (click)="viewProductDetailModal(prod)" class="fa fa-folder-open"></i></td>
							    </tr>
							  </tbody>
							</table>
						</div>
						<div class="bg-secondary text-white d-inline-block px-2 py-1 f-14">
		    			MATRIAL DELIVERED DETAILS
		    		</div>
		    		<div class="right-title float-right text-right pointer pr-3">
		    			<button type="button" disabled class="btn btn-xs add-item-btn"><i class="fa fa-plus"></i> ADD ITEM</button>
		    		</div>
		    		<div class="table-responsive mb-3" style="overflow-x:unset;">
							<table class="table table-bordered mb-0 border-0 w-100" cellspacing="0" rules="all">
								<thead>
							    <tr class="text-center">
						        <th width="60">Srl</th>
						        <th width="75">QR Code</th>
						        <th width="150">Product Group	</th>
						        <th width="150">Model No</th>
						        <th>Description</th>
						        <th width="60">Qnty</th>
						        <th width="80">Rate, Rs.</th>
						        <th width="80">GST, Rs.</th>
						        <th width="100">Total Amount, Rs.</th>
						        <th width="40"></th>
							    </tr>
								</thead>
								<tbody>
							    <tr *ngFor="let itm of delivered_products;let i = index;">
							    	<td class="text-center">{{(i + 1)}}</td>
							    	<td>{{itm.qr_code}}</td>
							    	<td>{{itm?.group?.name}}</td>
							    	<td>{{itm?.product?.model_no}}</td>
							    	<td><textarea disabled class="form-control border-0" rows="2" [innerHtml]="itm.description"></textarea></td>
							    	<td class="text-right">{{itm.qty}}</td>
							    	<td class="text-right">{{itm.rate}}</td>
							    	<td class="text-right">{{itm.gst_amount}}</td>
							    	<td class="text-right">{{itm.total_amount}}</td>
							    	<td class="text-center position-relative">
							    		<div class="adminActions" id="adminActions">
												<a class="adminButton" (click)="setFalseData(i);itm.show = !itm.show"><i class="fa fa-folder-open"></i></a>
												<div class="adminButtons" [class.checked]="(itm.show)" *ngIf="itm.show && isFocus">
													<a (click)="viewRemoveModal(itm, i);itm.show = false" title="Remove Product">Delete <i class="fa fa-trash"></i></a>
													<a *ngIf="!isNotValid(itm.product_id)" (click)="viewProductDetailModal(itm);itm.show = false" title="Product Info">Info <i class="fa fa-info"></i></a>
												</div>
											</div>
							    	</td>
							    </tr>
							  </tbody>
							</table>
						</div>
						<div class="row mr-0 mb-3">
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-5 col-md-5 col-sm-5 text-right col-xs-12 control-label">
										PO No.
									</label>
									<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 mt8">
										<input type="text" disabled class="form-control" [value]="purchaseForm.value.po_no" Placeholder="Enter PO No.">
									</div>
								</div>
								<div class="form-group row mr-0">
									<label class="col-lg-5 col-md-5 col-sm-5 text-right col-xs-12 control-label">
										Document Attached
									</label>
									<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 mt8">
										<input type="text" disabled class="form-control" [value]="purchaseForm.value.document_attached" Placeholder="Enter Document Attached">
									</div>
								</div>
								<div class="form-group row mr-0">
									<label class="col-lg-5 col-md-5 col-sm-5 text-right col-xs-12 control-label">
										Delivery Docket No
									</label>
									<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 mt8">
										<input type="text" disabled class="form-control" [value]="purchaseForm.value.delivery_docket_no" Placeholder="Enter Delivery Docket No">
									</div>
								</div>
								<div class="form-group row mr-0">
									<label class="col-lg-5 col-md-5 col-sm-5 text-right col-xs-12 control-label">
										Material Accepted By
									</label>
									<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 mt8">
										<input type="text" disabled class="form-control" [value]="purchaseForm.value.material_accepted_by" Placeholder="Enter Material Accepted By">
									</div>
								</div>
								<div class="form-group row mr-0">
									<label class="col-lg-5 col-md-5 col-sm-5 text-right col-xs-12 control-label">
										Acceptance Remarks
									</label>
									<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 mt8">
										<input type="text" disabled class="form-control" [value]="purchaseForm.value.acceptance_remarks" Placeholder="Enter Material Accepted By">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-5 col-md-5 col-sm-5 text-right col-xs-12 control-label">
										PO Date
									</label>
									<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 mt8">
										<input type="text" disabled class="form-control" [value]="purchaseForm.value.po_date | date : 'dd/MM/y'" placeholder="Enter Date" id="po_date">
									</div>
								</div>
								<div class="form-group row mr-0">
									<label class="col-lg-5 col-md-5 col-sm-5 text-right col-xs-12 control-label">
										Other Document
									</label>
									<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 mt8">
										<input type="text" disabled class="form-control" [value]="purchaseForm.value.other_document" placeholder="Enter Other Document">
									</div>
								</div>
								<div class="form-group row mr-0">
									<label class="col-lg-5 col-md-5 col-sm-5 text-right col-xs-12 control-label">
										Delivery Date
									</label>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mt8 pr-0">
										<input type="text" [value]="purchaseForm.value.delivery_date" disabled class="form-control" placeholder="Date">
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mt8 pl-0">
										<div class="input-group">
											<div class="input-group-append">
												<span class="input-group-text custom-info"><i class="f-14 fa fa-calendar"></i></span>
											</div>
											<input type="text" disabled class="form-control" [value]="purchaseForm.value.material_sent_by" placeholder="Enter Material Sent By">
										</div>
									</div>
								</div>
								<div class="form-group row mr-0">
									<label class="col-lg-5 col-md-5 col-sm-5 text-right col-xs-12 control-label">
										Contact No
									</label>
									<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 mt8">
										<input type="text" disabled class="form-control" [value]="purchaseForm.value.contact_no" placeholder="Enter Contact No">
									</div>
								</div>
								<div class="form-group row mr-0">
									<label class="col-lg-5 col-md-5 col-sm-5 text-right col-xs-12 control-label">
										Material Accepted Date
									</label>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mt8 pr-0">
										<input type="text" [value]="purchaseForm.value.material_accepted_date | date : 'dd/MM/y'" disabled class="form-control" placeholder="Date">
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mt8 pl-0">
										<div class="input-group">
											<div class="input-group-append">
												<span class="input-group-text custom-info"><i class="f-14 fa fa-calendar"></i></span>
											</div>
											<input type="text" disabled class="form-control" [value]="purchaseForm.value.material_accepted_no" placeholder="No">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="pt-3 text-left border-top pl-3">
							<button type="button" (click)="resetForm()" class="mr-2 btn btn-sm btn-undo">Undo</button>
							<button type="button" (click)="closeForm()" class="mr-2 btn btn-sm btn-close">Close</button>
							<button type="button" (click)="saveInfo()" class="mr-2 btn btn-sm btn-save" *ngIf="!viewMode">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;background: #000000a1;" *ngIf="showAlertModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delivery Challan Undelivered Alert!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showAlertModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div>You are being cautioned that Del. Challan undelivered means you can suspend delivery of a item/s or a complete challan.</div>
      	<h6 class="f-16">What shall I do?</h6>
      	<div class="form-group row mr-0 text-center">
					<div class="col-md-12 lhpx">
						<label class="mr-3 mb-0"><input type="radio" [(ngModel)]="challanType" value="1"><span class="checkbox-text">Suspend a selective Item</span></label>
						<label class="mr-3 mb-0"><input type="radio" [(ngModel)]="challanType" value="2"><span class="checkbox-text">Suspend a Challan</span></label>
					</div>
				</div>
				<div class="form-group row mr-0">
						<label class="text-right col-md-3 control-label">
							<span class="text-danger">*</span>Client
						</label>
						<div class="col-md-9">
							<select class="form-control" [(ngModel)]="client_id" (change)="getLocation();">
								<option [value]="null">-- Select Client --</option>
								<option *ngFor="let itm of clients" [value]="itm.id">{{itm.account_name}}</option>
							</select>
						</div>
					</div>
					<div class="form-group row mr-0">
						<label class="text-right col-md-3 control-label">
							<span class="text-danger">*</span>Location
						</label>
						<div class="col-md-9">
							<div class="input-group">
						  	<select class="form-control" [(ngModel)]="location_id" (change)="getProject();getDeliveryChallan();">
									<option [value]="null">-- Location --</option>
									<option *ngFor="let itm of locations" [value]="itm.id">{{itm.name}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group row mr-0">
						<label class="text-right col-md-3 control-label">
							Project
						</label>
						<div class="col-md-9">
							<select class="form-control" [(ngModel)]="project_id">
								<option [value]="null">-- Select Project --</option>
								<option *ngFor="let itm of projects" [value]="itm.id">{{itm.name}}</option>
							</select>
						</div>
					</div>
					<div class="form-group row mr-0">
						<label class="text-right col-md-3 control-label">
							Del. Challan
						</label>
						<div class="col-md-9">
							<select class="form-control" [(ngModel)]="challan_id">
								<option [value]="null">-- Select Del. Challan --</option>
								<option *ngFor="let itm of challans" [value]="itm.id">{{itm.delivery_challan_no}}</option>
							</select>
						</div>
					</div>
      </div>
      <div class="modal-footer">
        <button type="button" [disabled]="(isNotValid(challanType) || isNotValid(challan_id))" class="btn btn-sm btn-save" (click)="viewChallan(false)">Suspend</button>
        <button type="button" class="btn btn-sm btn-undo" (click)="showAlertModal = false">Undo</button>
        <button type="button" [disabled]="(isNotValid(challanType) || isNotValid(challan_id) || challanType == '1')" class="btn btn-sm btn-save" (click)="viewChallan(true)">View</button>
        <button type="button" class="btn btn-sm btn-close" (click)="showAlertModal = false">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;background: #000000a1;" *ngIf="showProductDetailModal">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content" *ngIf="selectedModal">
      <div class="modal-header">
        <h5 class="modal-title">Model No.: {{selectedModal.model_no}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showProductDetailModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    		<div class="row" *ngIf="selectedModal">
    			<div class="col-md-4">
    				<ng-container *ngIf="productImage">
	            <img [src]="productImage" class="img-fluid pointer" />
	        	</ng-container>
	        	<h5 class="text-uppercase mt-2">Product Group</h5>
	        	<p><i class="fa fa-shopping-bag mr-2"></i>{{selectedModal.group.name}}</p>
    			</div>
    			<div class="col-md-8">
    				<div class="form-horizontal">
	              <div class="form-group">
	                  <span class="bold">HSN Code: </span>{{selectedModal.hsn_code}}
	              </div>
	              <div class="form-group">
	                  <span class="bold">Product Code: </span>{{selectedModal.product_code}}
	              </div>
	              <div class="form-group">
	                  <span class="bold">Product Remark: </span>{{selectedModal.remarks}}
	              </div>
	              <div class="form-group">
	                  <span class="bold">Sold: </span>0
	              </div>
	              <div class="form-group">
	                  <span class="bold">In Stock: </span>5
	              </div>
	              <div class="form-group">
	                  <span class="bold">UOM: </span>Nos.
	              </div>
	              <div class="form-group">
	                  <span class="bold">Brand: </span>{{selectedModal.brand.name}}
	              </div>
	              <div class="form-group">
	                  <span class="bold">Prod. Description: </span><br> {{selectedModal.description}}
	              </div>
	              <div class="form-group">
	                  
	              </div>
	          </div>
    			</div>
    		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-close" data-dismiss="modal" (click)="showProductDetailModal = false">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;background: #000000a1;" *ngIf="showRemoveModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Suspend Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showRemoveModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      		<h6>Are You Sure To Suspend this Product?</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-close" data-dismiss="modal" (click)="showRemoveModal = false">No</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="removeProduct()">Yes Suspend</button>
      </div>
    </div>
  </div>
</div>
<ngx-ui-loader></ngx-ui-loader>
