<div class="action-btns">
	<button (click)="viewCreateMode('')" [disabled]="(editMode)" type="button" class="mr-2 btn btn-sm btn-secondary"><i class="fa fa-plus mr-1"></i>ADD</button>
	<button (click)="viewEditMode()" [disabled]="(editMode || createMode)" type="button" class="mr-2 btn btn-sm btn-info"><i class="fa fa-edit mr-1"></i>EDIT</button>
	<button (click)="deleteInfo()" [disabled]="(!editMode)" type="button" class="mr-2 btn btn-sm btn-warning"><i class="fa fa-trash mr-1"></i>DELETE</button>
	<div *ngIf="createMode" class="float-right f-16 pt-1">You are in ADD NEW Mode</div>
	<div *ngIf="editMode" class="float-right f-16 pt-1">You are in EDIT Mode</div>
</div>
<form autocomplete="off">
	<div class="row" [formGroup]="purchaseForm" [class.disable-content]="(!createMode && !editMode)">
		<div class="col-lg-12 col-md-10">
			<div class="card">
				<div class="card-header py-1">
						<h6 class="m-0 font-weight-bold text-primary">{{ (createMode) ? 'ADD': ''}}{{ (editMode) ? 'EDIT': ''}} SALES EXCHANGE DEMAND</h6>
				</div>
				<div class="card-body px-0 pb-3 pt-0">
					<div class="form-horizontal card-body-scroll pt-3">
						<div class="row mr-0">
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-md-6 text-right control-label">
										<span class="text-danger">*</span>Source of Demand
									</label>
									<div class="col-md-6 mt8" [class.form-invalid]="invalidForm && purchaseForm.controls.source_demand.invalid" [class.invalid-box]="purchaseForm.controls.source_demand.invalid">
										<select class="form-control" formControlName="source_demand" (change)="changeSource()">
											<option [value]="null">-- Select Source of Demand --</option>
											<option value="Serivce">Serivce Call</option>
											<option value="Sales">Sales</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-md-6 text-right control-label">
										Ref. Repair IN ID
									</label>
									<div class="col-md-6 mt8">
										<input type="text" class="form-control" formControlName="ref_repair" placeholder="Ref. Repair IN ID">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Client
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8" [class.form-invalid]="invalidForm && purchaseForm.controls.client_id.invalid" [class.invalid-box]="purchaseForm.controls.client_id.invalid">
										<select class="form-control" formControlName="client_id" (change)="getExchangeDemandNo();getLocation(purchaseForm.value.client_id)">
											<option [value]="null">-- Select Client --</option>
    									<option *ngFor="let itm of clients" [value]="itm.id">{{itm.account_name}}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Ref. Repair IN ID, Date | Time
									</label>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mt8">
										<input type="text" disabled class="form-control" placeholder="Date">
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pl-0 mt8">
										<div class="input-group">
											<div class="input-group-append">
												<span class="input-group-text custom-info"><i class="f-12 fa fa-clock"></i></span>
											</div>
											<input type="text" disabled class="form-control" placeholder="Time">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Exchange Demand No.
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8" [class.form-invalid]="invalidForm && purchaseForm.controls.exchange_no.invalid" [class.invalid-box]="purchaseForm.controls.exchange_no.invalid">
										<input type="text" disabled class="form-control" [value]="purchaseForm.value.exchange_no" placeholder="Exchange Demand No.">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Location
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8" [class.form-invalid]="invalidForm && purchaseForm.controls.location_id.invalid" [class.invalid-box]="purchaseForm.controls.location_id.invalid">
										<select class="form-control" formControlName="location_id" (change)="getProject(purchaseForm.value.client_id, purchaseForm.value.location_id);getExchangeDemandProducts()">
											<option [value]="null">-- Select Location --</option>
											<option *ngFor="let itm of locations" [value]="itm.id">{{itm.name}}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Sales Executive
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8" [class.form-invalid]="invalidForm && purchaseForm.controls.executive_id.invalid" [class.invalid-box]="purchaseForm.controls.executive_id.invalid">
										<input type="text" [value]="getExecutiveName()" class="form-control" disabled>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										Project
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8">
										<select class="form-control" formControlName="project_id">
											<option [value]="null">-- Select Project --</option>
											<option *ngFor="let itm of projects" [value]="itm.id">{{itm.name}}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Exchange Demand, By
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8" [class.form-invalid]="invalidForm && purchaseForm.controls.demand_by_id.invalid" [class.invalid-box]="purchaseForm.controls.demand_by_id.invalid">
										<select class="form-control" formControlName="demand_by_id">
											<option [value]="null">-- Select Demand by --</option>
    									<option *ngFor="let itm of staffs" [value]="itm.id">{{itm.first_name}} {{itm.father_name}} {{itm.last_name}}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Date | Time
									</label>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mt8" [class.form-invalid]="invalidForm && purchaseForm.controls.exchange_date.invalid" [class.invalid-box]="purchaseForm.controls.exchange_date.invalid">
										<input type="text" disabled [value]="purchaseForm.value.exchange_date | date: 'dd/MM/y'" class="form-control" placeholder="Date">
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pl-0 mt8">
										<div class="input-group" [class.form-invalid]="invalidForm && purchaseForm.controls.exchange_time.invalid" [class.invalid-box]="purchaseForm.controls.exchange_time.invalid">
											<div class="input-group-append">
												<span class="input-group-text custom-info"><i class="f-12 fa fa-clock"></i></span>
											</div>
											<input type="text" class="form-control" disabled [value]="purchaseForm.value.exchange_time" placeholder="Time">
										</div>
									</div>
								</div>
							</div>
							
							<div class="col-md-12">
								<div class="form-group row mr-0">
									<label class="col-lg-3 col-md-3 col-sm-3 text-right col-xs-12 control-label pr-1">
										Remarks
									</label>
									<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 mt8" style="padding-left: 9px;">
										<textarea class="form-control" formControlName="remarks" rows="3" placeholder="Enter Remarks"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="bg-secondary text-white d-inline-block px-2 py-1 f-14 text-uppercase">
		    			List of Products to exchange
		    		</div>
		    		<div class="right-title float-right text-right pointer pr-3">
		    			<button (click)="viewAddItemModal()" type="button" class="btn btn-xs add-item-btn"><i class="fa fa-plus"></i> ADD ITEM</button>
		    		</div>
						<div class="table-responsive mb-3" style="overflow: unset;">
							<table class="table table-bordered mb-0 border-0 w-100" cellspacing="0" rules="all">
								<thead>
							    <tr class="text-center">
						        <th width="40">Srl</th>
						        <th>Model No.</th>
						        <th>Prod. Cat</th>
						        <th>MAC/SR No.</th>
						        <th width="150">Reason of Exchange</th>
						        <th>QR Code</th>
						        <th class="text-center" width="130">Warranty, Client</th>
						        <th width="150">Service, Engineer</th>
						        <th class="text-center" width="80">In Stock, Qty</th>
						        <th width="40"></th>
							    </tr>
								</thead>
								<tbody>
							    <tr *ngFor="let prod of productDetails;let i = index;">
							    	<td class="text-center">{{ (i + 1) }}</td>
							    	<td>
							    		{{prod.product_name}}
										</td>
										<td>
							    		{{prod.category_name}}
										</td>
										<td class="text-center">{{prod.mac_address}}<span *ngIf="prod.serial_no">/{{prod.serial_no}}</span></td>
										<td>
											{{prod.reason}}
										</td>
										<td>{{prod.qr_code}}</td>
										<td class="text-center"><span *ngIf="prod.warranty_date"> {{(prod.warranty == '1') ? 'Yes': 'Expired'}} | {{prod.warranty_date | date : 'dd/MM/y'}}</span></td>
										<td>
											<select class="form-control" [(ngModel)]="prod.engineer_id" [ngModelOptions]="{standalone: true}">
												<option [value]="null">-- Select Engineer --</option>
	    									<option *ngFor="let itm of staffs" [value]="itm.id">{{itm.first_name}} {{itm.father_name}} {{itm.last_name}}</option>
											</select>
										</td>
							    	<td class="text-center">
							    		{{prod.qty}}
							    	</td>
							    	<td class="text-center position-relative">
							    		<div class="adminActions" id="adminActions">
												<a class="adminButton" (click)="setFalseData(i);prod.show = !prod.show"><i class="fa fa-folder-open"></i></a>
												<div class="adminButtons" [class.checked]="(prod.show)" *ngIf="prod.show && isFocus">
													<a *ngIf="productDetails.length > 1" (click)="viewRemoveModal(prod, i);prod.show = false" title="Remove Product">Delete <i class="fa fa-trash"></i></a>
													<a *ngIf="!isNotValid(prod.product_id)" (click)="editProductModal(prod, i);prod.show = false" title="Edit">Edit <i class="fa fa-edit"></i></a>
													<a *ngIf="!isNotValid(prod.product_id)" (click)="viewProductDetailModal(prod, i);prod.show = false" title="Product Info">Info <i class="fa fa-info"></i></a>
												</div>
											</div>
							    	</td>
							    </tr>
							  </tbody>
							</table>
						</div>
						<div class="row m-0">
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>I Am connected with
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8" [class.form-invalid]="invalidForm && purchaseForm.controls.connect_id.invalid" [class.invalid-box]="purchaseForm.controls.connect_id.invalid">
										<select class="form-control" formControlName="connect_id" (change)="changeConnect()">
											<option [value]="null">-- Select Connected With --</option>
    									<option *ngFor="let itm of staffs" [value]="itm.id">{{itm.first_name}} {{itm.father_name}} {{itm.last_name}}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>My Contact No.
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8" [class.form-invalid]="invalidForm && purchaseForm.controls.contact_no.invalid" [class.invalid-box]="purchaseForm.controls.contact_no.invalid">
										<input type="text" formControlName="contact_no" class="form-control" placeholder="Contact No.">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Priority
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8" [class.form-invalid]="invalidForm && purchaseForm.controls.priority.invalid" [class.invalid-box]="purchaseForm.controls.priority.invalid">
										<select class="form-control" formControlName="priority">
											<option [value]="null">-- Select Demand By --</option>
											<option value="Normal">Normal</option>
											<option value="Medium">Medium</option>
											<option value="Highest">Highest</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>My Email ID.
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8" [class.form-invalid]="invalidForm && purchaseForm.controls.email_id.invalid" [class.invalid-box]="purchaseForm.controls.email_id.invalid">
										<input type="text" formControlName="email_id" class="form-control" placeholder="Email ID.">
									</div>
								</div>
							</div>
							
						</div>
					</div>
					<div class="pt-3 text-left border-top pl-3">
							<button type="button" class="mr-2 btn btn-sm btn-undo">Undo</button>
							<button type="button" (click)="closeForm()" class="mr-2 btn btn-sm btn-close">Close</button>
							<button type="button" (click)="saveInfo()" class="mr-2 btn btn-sm btn-save">Save</button>
						</div>
				</div>
			</div>
		</div>
	</div>
</form>

<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;background: #000000a1;" *ngIf="showDeleteModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Exchagne Demand</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showDeleteModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      		<h6>Are You Sure to Delete this Exchagne Demand?</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-close" data-dismiss="modal" (click)="showDeleteModal = false">No</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="deleteData()">Delete</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;background: #000000a1;" *ngIf="showEditModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Demand</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showEditModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="row">
    			<div class="col-md-12">
    				<div class="form-group row mr-0">
      				<label class="col-md-4 text-right control-label">
								<span class="text-danger">*</span>Client
							</label>
							<div class="col-md-8">
								<select class="form-control" [(ngModel)]="clientId" (change)="getLocation(clientId)">
									<option [value]="null">-- Select Client --</option>
									<option *ngFor="let itm of clients" [value]="itm.id">{{itm.account_name}}</option>
								</select>
							</div>
						</div>
    			</div>
    			<div class="col-md-12">
    				<div class="form-group row mr-0">
      				<label class="col-md-4 text-right control-label">
								<span class="text-danger">*</span>Location
							</label>
							<div class="col-md-8">
								<select class="form-control" [(ngModel)]="locationId" (change)="getProject(clientId, locationId);getExchangeDemand()">
									<option [value]="null">-- Select Location --</option>
									<option *ngFor="let itm of locations" [value]="itm.id">{{itm.name}}</option>
								</select>
							</div>
						</div>
    			</div>
    			<div class="col-md-12">
    				<div class="form-group row mr-0">
      				<label class="col-md-4 text-right control-label">
								<span class="text-danger">*</span>Select
							</label>
							<div class="col-md-8">
								<select class="form-control" [(ngModel)]="demandId">
									<option [value]="null">-- Select Demand --</option>
									<option *ngFor="let itm of ExchangeDemands" [value]="itm.id">{{itm.exchange_no}} | {{itm.exchange_date | date: 'dd/MM/y'}}</option>
								</select>
							</div>
						</div>
    			</div>
    		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-close" (click)="showEditModal = false">Close</button>
        <button type="button" [disabled]="(isNotValid(clientId) || isNotValid(locationId) || isNotValid(demandId))" class="btn btn-sm btn-save" (click)="showData();getExchangeDemandProducts()">Show</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;background: #000000a1;" *ngIf="showProductDetailModal">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content" *ngIf="selectedModal">
      <div class="modal-header">
        <h5 class="modal-title">Model No.: {{selectedModal.model_no}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showProductDetailModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    		<div class="row" *ngIf="selectedModal">
    			<div class="col-md-4">
    				<ng-container *ngIf="productImage">
	            <img [src]="productImage" class="img-fluid pointer" />
	        	</ng-container>
	        	<h5 class="text-uppercase mt-2">Product Group</h5>
	        	<p><i class="fa fa-shopping-bag mr-2"></i>{{selectedModal.group.name}}</p>
    			</div>
    			<div class="col-md-8">
    				<div class="form-horizontal">
	              <div class="form-group">
	                  <span class="bold">HSN Code: </span>{{selectedModal.hsn_code}}
	              </div>
	              <div class="form-group">
	                  <span class="bold">Product Code: </span>{{selectedModal.product_code}}
	              </div>
	              <div class="form-group">
	                  <span class="bold">Product Remark: </span>{{selectedModal.remarks}}
	              </div>
	              <div class="form-group">
	                  <span class="bold">Sold: </span>0
	              </div>
	              <div class="form-group">
	                  <span class="bold">In Stock: </span>5
	              </div>
	              <div class="form-group">
	                  <span class="bold">UOM: </span>Nos.
	              </div>
	              <div class="form-group">
	                  <span class="bold">Brand: </span>{{selectedModal.brand.name}}
	              </div>
	              <div class="form-group">
	                  <span class="bold">Prod. Description: </span><br> {{selectedModal.description}}
	              </div>
	              <div class="form-group">
	                  
	              </div>
	          </div>
    			</div>
    		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-close" data-dismiss="modal" (click)="showProductDetailModal = false">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;background: #000000a1;" *ngIf="showRemoveModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showRemoveModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      		<h6>Are you sure to delete this product?</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-close" data-dismiss="modal" (click)="showRemoveModal = false">No</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="removeProduct()">Delete</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;background: #000000a1;" *ngIf="showAddItemModal">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content" [formGroup]="prodForm">
      <div class="modal-header">
        <h5 class="modal-title">Exchange Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeItemModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="form-group row mr-0">
  				<label class="col-md-3 text-right control-label">
						<span class="text-danger">*</span>Enter QR Code
					</label>
					<div class="col-md-3" [class.form-invalid]="invalidForm && prodForm.controls.qr_code.invalid">
						<input *ngIf="!productEditMode" type="text" class="form-control" formControlName="qr_code" placeholder="Enter QR Code" (change)="getQrCode()">
						<input *ngIf="productEditMode" type="text" class="form-control" disabled [value]="prodForm.value.qr_code" placeholder="Enter QR Code">
					</div>
					<div class="col-md-3">
						<button type="button" *ngIf="!productEditMode" class="btn btn-warning btn-xs text-dark" (click)="getQrCode()">ADD PRODUCT</button>
					</div>
				</div>
				<div class="form-group row mr-0">
  				<label class="col-md-3 text-right control-label">
						<span class="text-danger">*</span>Prod. Group
					</label>
					<div class="col-md-3">
						<input  *ngIf="!isZero" type="text" disabled class="form-control" [value]="prodForm.value.group_name" placeholder="Prod. Group">
						<select *ngIf="isZero && !productEditMode" class="form-control" formControlName="group_id" name="group_id" (change)="getModels()">
							<option [value]="null">-- Select Prod. Group --</option>
							<option *ngFor="let itm of productGroups" [value]="itm.id">{{itm.name}}</option>
						</select>
						<select *ngIf="isZero && productEditMode" disabled class="form-control" [value]="prodForm.value.group_id" name="group_id">
							<option *ngFor="let itm of productGroups" [value]="itm.id">{{itm.name}}</option>
						</select>
					</div>
				</div>
				<div class="form-group row mr-0">
  				<label class="col-md-3 text-right control-label">
						<span class="text-danger">*</span>Model No
					</label>
					<div class="col-md-3">
						<input  *ngIf="!isZero" type="text" disabled class="form-control" [value]="prodForm.value.product_name" placeholder="Model No">
						<select *ngIf="isZero && !productEditMode" class="form-control" formControlName="product_id" name="product_id" (change)="changeModel()">
							<option [value]="null">-- Select Model No. --</option>
							<option *ngFor="let itm of products" [value]="itm.id">{{itm.model_no}}</option>
						</select>
						<select *ngIf="isZero && productEditMode" disabled class="form-control" [value]="prodForm.value.product_id" name="product_id">
							<option *ngFor="let itm of products" [value]="itm.id">{{itm.model_no}}</option>
						</select>
					</div>
				</div>
				<!-- <div class="form-group row mr-0">
  				<label class="col-md-3 text-right control-label">
						Product Code
					</label>
					<div class="col-md-3">
						<input type="text" disabled class="form-control" [value]="prodForm.value.product_code" placeholder="Product Code">
					</div>
				</div> -->
				<div class="form-group row mr-0">
  				<label class="col-md-3 text-right control-label">
						Prod. Category
					</label>
					<div class="col-md-3">
						<input type="text" class="form-control" disabled [value]="prodForm.value.category_name" placeholder="Product Category">
					</div>
				</div>
				<div class="form-group row mr-0">
  				<label class="col-md-3 text-right control-label">
						<span class="text-danger">*</span>Qnty
					</label>
					<div class="col-md-3" [class.form-invalid]="invalidForm && prodForm.controls.qty.invalid">
						<input *ngIf="prodForm.value.qr_code == 0" type="text" class="form-control" formControlName="qty" placeholder="Enter Quantity">
						<input *ngIf="prodForm.value.qr_code != 0" disabled type="text" class="form-control" [value]="prodForm.value.qty" placeholder="Enter Quantity">
					</div>
				</div>
				<div class="form-group row mr-0">
  				<label class="col-md-3 text-right control-label">
						Warranty
					</label>
					<div class="col-md-3">
						<span *ngIf="prodForm.value.warranty_date">{{ checkWar(prodForm.value.warranty_date) }} | {{prodForm.value.warranty_date | date : 'dd/MM/y'}}</span>
						<span *ngIf="!prodForm.value.warranty_date && prodForm.value.product_id">Warranty not applicable</span>
					</div>
				</div>
				<div class="form-group row mr-0">
  				<label class="col-md-3 text-right control-label">
						Serial No.
					</label>
					<div class="col-md-3">
						<input type="text" class="form-control" disabled [value]="prodForm.value.serial_no" placeholder="Enter Sr No.">
					</div>
					<label class="col-md-3 text-right control-label">
						Match Serial No.
					</label>
					<div class="col-md-3">
						<input type="text" class="form-control" formControlName="match_serial_no" placeholder="Enter Match Sr No." (change)="changeMatchSr()">
					</div>
				</div>
				<div class="form-group row mr-0">
  				<label class="col-md-3 text-right control-label">
						MAC Address
					</label>
					<div class="col-md-3">
						<input type="text" class="form-control" disabled [value]="prodForm.value.mac_address" placeholder="Enter MAC Address">
					</div>
					<label class="col-md-3 text-right control-label">
						Match MAC Address
					</label>
					<div class="col-md-3">
						<input type="text" class="form-control" formControlName="match_mac_address" placeholder="Enter Match MAC Address" id="match_mac_address" (change)="changeMatchMac()">
					</div>
				</div>
				<div class="form-group row mr-0">
  				<label class="col-md-3 text-right control-label">
						Invoice/Challan. No.
					</label>
					<div class="col-md-3">
						<input type="text" class="form-control" formControlName="invoice_no" placeholder="Purchase Inv No">
					</div>
					<label class="col-md-3 text-right control-label">
						Date
					</label>
					<div class="col-md-3">
						<input type="text" class="form-control" formControlName="inv_invoice_date" placeholder="Enter Date"  id="inv_invoice_date" (change)="changeSubDate('inv_invoice_date', 'invoice_date')">
					</div>
				</div>
				<div class="form-group row mr-0">
  				<label class="col-md-3 text-right control-label">
						<span class="text-danger">*</span>Reason for Exchange
					</label>
					<div class="col-md-9" [class.form-invalid]="invalidForm && prodForm.controls.reason.invalid">
						<textarea class="form-control" rows="2" formControlName="reason" placeholder="Enter Reason"></textarea>
					</div>
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-undo" data-dismiss="modal" (click)="clearItem()">Undo</button>
        <button type="button" class="btn btn-sm btn-close" data-dismiss="modal" (click)="closeItemModal()">Close</button>
        <button type="button" class="btn btn-sm btn-save"  data-dismiss="modal" (click)="addItem()">Add</button>
      </div>
    </div>
  </div>
</div>
<app-confirm-dialog *ngIf="MessageText" [MessageText]="MessageText" [MessageTitle]="MessageTitle" [ActionType]="ActionType" [SaveBtn]="SaveBtn" [CancelBtn]="CancelBtn" (saveAction)="confirmedAction($event)"></app-confirm-dialog>  
<ngx-ui-loader></ngx-ui-loader>
