<div class="action-btns">
	<!-- <button (click)="viewEditMode()" [disabled]="(editMode || createMode)" type="button" class="mr-2 btn btn-sm btn-info"><i class="fa fa-edit mr-1"></i>EDIT</button> -->
	<button (click)="viewEditMode()" [disabled]="(editMode)" type="button" class="mr-2 btn btn-sm btn-info"><i class="fa fa-edit mr-1"></i>SELECT</button>
	<div class="float-right f-16 pt-1">You are in ADD New Mode</div>
</div>
<form autocomplete="off">
	<div class="row" [formGroup]="purchaseForm" [class.disable-content]="(!createMode && !editMode)">
		<div class="col-lg-12 col-md-10">
			<div class="card">
				<div class="card-header py-1">
						<h6 class="m-0 font-weight-bold text-primary text-uppercase">Replace (Purchase) Notification</h6>
				</div>
				<div class="card-body px-0 pb-3 pt-0">
					<div class="form-horizontal card-body-scroll pt-3">
						<div class="row mr-0">
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-md-6 text-right control-label">
										<span class="text-danger">*</span>Source of Demand
									</label>
									<div class="col-md-6 mt8">
										<input type="text" class="form-control" disabled [value]="getDemandValue()">
									</div>
								</div>
							</div>
							<div class="col-md-6">
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Supplier
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8">
										<input type="text" class="form-control" disabled [value]="getSupplierName()">
									</div>
								</div>
							</div>
							<div class="col-md-6 text-right">
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Replace (Purchase) Demand No.
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8">
										<input type="text" disabled class="form-control" [value]="purchaseForm.value.replace_no" placeholder="Replace Demand No.">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Date | Time
									</label>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mt8">
										<input type="text" disabled [value]="purchaseForm.value.exchange_date | date: 'dd/MM/y'" class="form-control" placeholder="Date">
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pl-0 mt8">
										<div class="input-group">
											<div class="input-group-append">
												<span class="input-group-text custom-info"><i class="f-12 fa fa-clock"></i></span>
											</div>
											<input type="text" class="form-control" disabled [value]="purchaseForm.value.exchange_time" id="exchange_time" placeholder="Time">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6" *ngIf="purchaseForm.value.source_demand == 'Serivce'" >
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Sales Exchange Demand
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8">
										<input type="text" class="form-control" disabled [value]="getSalesExName()">
									</div>
								</div>
							</div>
							<div class="col-md-6" *ngIf="purchaseForm.value.source_demand == 'Serivce'" >
								<div class="form-group row mr-0">
									<label class="col-md-4 text-right control-label">
										Date | Time
									</label>
									<div class="col-md-6 mt8">
										<input type="text" class="form-control" placeholder="Sales Exchange Demand Date" disabled>
									</div>
								</div>
							</div>
							<div class="col-md-6" *ngIf="purchaseForm.value.source_demand == 'Serivce'" >
								<div class="form-group row mr-0">
									<label class="col-md-6 text-right control-label">
										Ref. Repair IN ID
									</label>
									<div class="col-md-6 mt8">
										<input type="text" class="form-control" disabled [value]="purchaseForm.value.ref_repair" placeholder="Ref. Repair IN ID">
									</div>
								</div>
							</div>
							<div class="col-md-6" *ngIf="purchaseForm.value.source_demand == 'Serivce'" >
								<div class="form-group row mr-0">
									<label class="col-md-4 text-right control-label">
										Date | Time
									</label>
									<div class="col-md-6 mt8">
										<input type="text" class="form-control" placeholder="Ref. Repair Date" disabled>
									</div>
								</div>
							</div>
						</div>
						<div class="bg-secondary text-white d-inline-block px-2 py-1 f-14 text-uppercase">
		    			List of Products to Replace
		    		</div>
						<div class="table-responsive mb-3">
							<table class="table table-bordered mb-0 border-0 w-100" cellspacing="0" rules="all">
								<thead>
									<tr class="text-center">
						        <th width="40">Srl</th>
						        <th width="120">QR Code</th>
						        <th width="120">MAC | SR No.</th>
						        <th width="180">Model No.</th>
						        <th width="150">Prod. Category</th>
						        <th width="40">Qty</th>
						        <th width="145">Pur. Inv | Pur. Date</th>
						        <th width="140">Warranty</th>
						        <th>Problem</th>
							    </tr>
								</thead>
								<tbody>
							    <tr *ngFor="let prod of purchaseDetails;let i = index;">
							    	<td class="text-center">{{ (i + 1) }}</td>
										<td class="text-center">{{prod.qr_code || 0}}</td>
										<td class="text-center">{{prod.mac_address}} <span *ngIf="prod.serial_no">| {{prod.serial_no}}</span></td>
							    	<td class="text-center">{{prod.product_name}}</td>
										<td>{{prod.description}}</td>
										<td class="text-center">{{prod.qty}}</td>
										<td class="text-center">{{prod.invoice_no}} <span *ngIf="prod.invoice_date">| {{prod.invoice_date | date : 'dd/MM/y'}}</span></td>
										<td class="text-center">
											<span *ngIf="prod.warranty_date"> {{(prod.warranty == '1') ? 'Yes': 'No'}} | {{prod.warranty_date | date : 'dd/MM/y'}}</span>
											<span *ngIf="!prod.warranty_date">Warranty not applicable</span>
										</td>
										<td>{{prod.problem}}</td>
							    </tr>
							  </tbody>
							</table>
						</div>
						<div class="row m-0">
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										Discussed with
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8">
										<input type="text" class="form-control" disabled [value]="getDiscussedName()">
									</div>
								</div>
							</div>
							<div class="col-md-6">
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										Confirmation Received in Form
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8">
										<input type="text" class="form-control" disabled [value]="purchaseForm.value.confirmation_received">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-2 col-md-2 col-sm-2 text-right col-xs-12 control-label">
										Date
									</label>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mt8">
										<input type="text" class="form-control" disabled [value]="purchaseForm.value.confirmation_date | date: 'dd/MM/y'" placeholder="Date">
									</div>
									<label class="col-lg-1 col-md-1 col-sm-1 text-right col-xs-12 control-label">
										CC
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8">
										<input type="text" class="form-control" disabled [value]="purchaseForm.value.confirmation_cc" placeholder="Email">
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group row mr-0">
									<label class="col-lg-3 col-md-3 col-sm-3 text-right col-xs-12 control-label pr-1">
										We have been Advised as
									</label>
									<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 pl-2 mt8">
										<input type="text" class="form-control" disabled [value]="purchaseForm.value.advised_as">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										Replacement Requested By
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8">
										<input type="text" class="form-control" disabled [value]="getReplacementName()">
									</div>
								</div>
							</div>
							<div class="col-md-6">
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										My Contact No.
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8">
										<input type="text" disabled [value]="purchaseForm.value.contact_no" class="form-control" placeholder="Contact No.">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										My Email ID.
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8">
										<input type="text" disabled [value]="purchaseForm.value.email_id" class="form-control" placeholder="Email ID.">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										Priority
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8">
										<input type="text" class="form-control" disabled [value]="purchaseForm.value.priority">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										I Am connected with
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8">
										<input type="text" class="form-control" disabled [value]="getConnName()">
									</div>
								</div>
							</div>
						</div>
						<div class="row m-0">
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label pr-1">
										<span class="text-danger">*</span>E-Mail this copy to
									</label>
									<div class="col-md-6 mt8" style="padding-left: 9px;" [class.form-invalid]="invalidForm && (purchaseForm.value.notification_email_copy == 'null' || purchaseForm.controls.notification_email_copy.invalid)" [class.invalid-box]="purchaseForm.controls.notification_email_copy.invalid">
										<div class="input-group">
											<select class="form-control" formControlName="notification_email_copy" (change)="changeECopy()">
												<option [value]="null">-- Select Name --</option>
	    									<option *ngFor="let itm of contactPersons" [value]="itm.id">{{itm.first_name}} {{itm.last_name}}</option>
											</select>
											<div class="input-group-append">
									    	<span class="input-group-text custom-info" (click)="showContactFormModal()">ADD</span>
									  	</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label pr-1">
										<span class="text-danger">*</span>Contact No
									</label>
									<div class="col-md-6 mt8" style="padding-left: 9px;" [class.form-invalid]="invalidForm && (purchaseForm.value.notification_contact_no == 'null' || purchaseForm.controls.notification_contact_no.invalid)" [class.invalid-box]="purchaseForm.controls.notification_contact_no.invalid">
										<input type="text" formControlName="notification_contact_no" class="form-control" placeholder="Contact No">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label pr-1">
										<span class="text-danger">*</span>E-Mail ID
									</label>
									<div class="col-md-6 mt8" style="padding-left: 9px;" [class.form-invalid]="invalidForm && (purchaseForm.value.notification_email == 'null' || purchaseForm.controls.notification_email.invalid)" [class.invalid-box]="purchaseForm.controls.notification_email.invalid">
										<input type="text" formControlName="notification_email" class="form-control" placeholder="Email">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label pr-1">
										<span class="text-danger">*</span>Designation
									</label>
									<div class="col-md-6 mt8" style="padding-left: 9px;" [class.form-invalid]="invalidForm && (purchaseForm.value.designation == 'null' || purchaseForm.controls.designation.invalid)" [class.invalid-box]="purchaseForm.controls.designation.invalid">
										<select class="form-control" formControlName="designation">
											<option [value]="null">-- Select Designation --</option>
    									<option *ngFor="let itm of designations" [value]="itm.id">{{itm.title}}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label pr-1">
										<span class="text-danger">*</span>Follow up, Date
									</label>
									<div class="col-md-6 mt8" style="padding-left: 9px;" [class.form-invalid]="invalidForm && (purchaseForm.value.notification_date == 'null' || purchaseForm.controls.notification_date.invalid)" [class.invalid-box]="purchaseForm.controls.notification_date.invalid">
										<input type="text" formControlName="t_notification_date" class="form-control" placeholder="Date" id="notification_date" (change)="changeDate('t_notification_date', 'notification_date')">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="pt-3 text-left border-top pl-3">
							<button type="button" *ngIf="!viewMode" (click)="resetForm()" class="mr-2 btn btn-sm btn-undo">Undo</button>
							<button type="button" (click)="closeForm()" class="mr-2 btn btn-sm btn-close">Close</button>
							<button type="button" *ngIf="!viewMode" (click)="saveInfo()" class="mr-2 btn btn-sm btn-save">Save</button>
						</div>
				</div>
			</div>
		</div>
	</div>
</form>

<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;background: #000000a1;" *ngIf="showEditModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Replace (Purchase) Demand</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showEditModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="row">
    			<div class="col-md-12">
    				<div class="form-group row mr-0">
      				<label class="col-md-4 text-right control-label">
								<span class="text-danger">*</span>Supplier
							</label>
							<div class="col-md-8">
								<select class="form-control" [(ngModel)]="clientId" (change)="getReplaceDemand()">
									<option [value]="null">-- Select Supplier --</option>
									<option *ngFor="let itm of suppliers" [value]="itm.id">{{itm.name}}</option>
								</select>
							</div>
						</div>
    			</div>
    			<div class="col-md-12">
    				<div class="form-group row mr-0">
      				<label class="col-md-4 text-right control-label">
								<span class="text-danger">*</span>Select
							</label>
							<div class="col-md-8">
								<select class="form-control" [(ngModel)]="demandId">
									<option [value]="null">-- Select Demand --</option>
									<option *ngFor="let itm of ReplaceDemands" [value]="itm.id">{{itm.replace_no}} | {{itm.exchange_date | date: 'dd/MM/y'}}</option>
								</select>
							</div>
						</div>
    			</div>
    		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-close" (click)="showEditModal = false">Close</button>
        <button type="button" [disabled]="(isNotValid(clientId) || isNotValid(demandId))" class="btn btn-sm btn-save" (click)="showData();">Show</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;background: #000000a1;" *ngIf="showProductDetailModal">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content" *ngIf="selectedModal">
      <div class="modal-header">
        <h5 class="modal-title">Model No.: {{selectedModal.model_no}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showProductDetailModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    		<div class="row" *ngIf="selectedModal">
    			<div class="col-md-4">
    				<ng-container *ngIf="productImage">
	            <img [src]="productImage" class="img-fluid pointer" />
	        	</ng-container>
	        	<h5 class="text-uppercase mt-2">Product Group</h5>
	        	<p><i class="fa fa-shopping-bag mr-2"></i>{{selectedModal.group.name}}</p>
    			</div>
    			<div class="col-md-8">
    				<div class="form-horizontal">
	              <div class="form-group">
	                  <span class="bold">HSN Code: </span>{{selectedModal.hsn_code}}
	              </div>
	              <div class="form-group">
	                  <span class="bold">Product Code: </span>{{selectedModal.product_code}}
	              </div>
	              <div class="form-group">
	                  <span class="bold">Product Remark: </span>{{selectedModal.remarks}}
	              </div>
	              <div class="form-group">
	                  <span class="bold">Sold: </span>0
	              </div>
	              <div class="form-group">
	                  <span class="bold">In Stock: </span>5
	              </div>
	              <div class="form-group">
	                  <span class="bold">UOM: </span>Nos.
	              </div>
	              <div class="form-group">
	                  <span class="bold">Brand: </span>{{selectedModal.brand.name}}
	              </div>
	              <div class="form-group">
	                  <span class="bold">Prod. Description: </span><br> {{selectedModal.description}}
	              </div>
	              <div class="form-group">
	                  
	              </div>
	          </div>
    			</div>
    		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-close" data-dismiss="modal" (click)="showProductDetailModal = false">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;background: #000000a1;" *ngIf="showContactForm">
  <div class="modal-dialog modal-dialog-centered" role="document">
  	<form (ngSubmit)="saveContact(false)" class="w-100">
	    <div class="modal-content" [formGroup]="contactForm">
	      <div class="modal-header">
	        <h5 class="modal-title">Contact Person</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeContactFormModal()">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
				<div class="form-group row mb-1">
					<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label px-0">
						<span class="text-danger">*</span>Department
					</label>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8" [class.invalid-box]="contactForm.controls.department_id.invalid" [class.form-invalid]="invalidContactForm && contactForm.controls.department_id.invalid">
					  	<select class="form-control" formControlName="department_id">
					  		<option [value]="null">-- Department --</option>
    						<option *ngFor="let itm of departments" [value]="itm.id">{{itm.name}}</option>
	    				</select>
					</div>
				</div>
				<div class="form-group row mb-1">
					<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label px-0">
						<span class="text-danger">*</span>Designation
					</label>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8" [class.invalid-box]="contactForm.controls.designation_id.invalid" [class.form-invalid]="invalidContactForm && contactForm.controls.designation_id.invalid">
					  	<select class="form-control" formControlName="designation_id">
					  		<option [value]="null">-- Designation --</option>
    						<option *ngFor="let itm of designations" [value]="itm.id">{{itm.title}}</option>
	    				</select>
					</div>
				</div>
				<div class="form-group row mb-1">
					<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label px-0">
						<span class="text-danger">*</span>First Name
					</label>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8" [class.invalid-box]="contactForm.controls.first_name.invalid" [class.form-invalid]="invalidContactForm && contactForm.controls.first_name.invalid">
						<input type="text" class="form-control" formControlName="first_name" placeholder="First Name">
					</div>
				</div>
				<div class="form-group row mb-1">
					<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label px-0">
						Last Name
					</label>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8">
						<input type="text" class="form-control" formControlName="last_name" placeholder="Last Name">
					</div>
				</div>
				<div class="form-group row">
    			<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
    				<span class="text-danger">*</span>Mobile
    			</label>
    			<div class="col-lg-2 col-md-2 col-sm-4 text-right col-xs-12 mt8 pr-0" [class.invalid-box]="contactForm.controls.mobile_code.invalid" [class.form-invalid]="invalidContactForm && contactForm.controls.mobile_code.invalid">
    				<input type="text" class="form-control" formControlName="mobile_code" placeholder="Code">
    			</div>
    			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pl-0 mt8" [class.invalid-box]="contactForm.controls.mobile_number.invalid" [class.form-invalid]="invalidContactForm && contactForm.controls.mobile_number.invalid">
    				<input type="text" class="form-control" formControlName="mobile_number" placeholder="Enter Mobile Number">
    			</div>
    		</div>
    		<div class="form-group row">
    			<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
    				Phone
    			</label>
    			<div class="col-lg-2 col-md-2 col-sm-2 text-right col-xs-12 mt8 pr-0">
    				<input type="text" class="form-control" formControlName="phone_code" placeholder="Code">
    			</div>
    			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pl-0 mt8">
    				<input type="text" class="form-control" formControlName="phone_number" placeholder="Enter Phone Number">
    			</div>
    		</div>
				<div class="form-group row mb-1">
					<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label px-0">
						Email
					</label>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8">
						<input type="text" class="form-control" formControlName="email" placeholder="Email">
					</div>
				</div>
				<div class="form-group row mb-1">
					<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label px-0">
						Birth Date
					</label>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8">
						<input type="text" class="form-control" formControlName="b_date" placeholder="Birth Date" id="contactBirthDate" (change)="changeConDate('b_date', 'birth_date')">
					</div>
				</div>
				<div class="form-group row mb-1">
					<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label px-0">
						Anniversary Date
					</label>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8">
						<input type="text" class="form-control" formControlName="a_date" placeholder="Anniversary Date" id="contactAnniversaryDate" (change)="changeConDate('a_date', 'anniversary_date')">
					</div>
				</div>
	      </div>
	      <div class="modal-footer">
	        <button type="submit" class="btn btn-sm btn-save">Save</button>
	        <button type="button" class="btn btn-sm btn-close" data-dismiss="modal" (click)="closeContactFormModal()">Close</button>
	      </div>
	    </div>
  	</form>
  </div>
</div>
<ngx-ui-loader></ngx-ui-loader>
