<div class="action-btns">
	<button (click)="viewCreateMode()" [disabled]="(editMode || createMode)" type="button" class="mr-2 btn btn-sm btn-secondary"><i class="fa fa-plus mr-1"></i>ADD</button>
	<button (click)="viewEditMode()" [disabled]="(editMode || createMode)" type="button" class="mr-2 btn btn-sm btn-info"><i class="fa fa-edit mr-1"></i>EDIT</button>
	<button (click)="deleteOrder()" [disabled]="(!editMode || goods_dispatched)" type="button" class="mr-2 btn btn-sm btn-warning"><i class="fa fa-trash mr-1"></i>DELETE</button>
	<a href="http://erp.livotechnology.com/#/product-and-service/product" target="_blank" class="mr-2 btn btn-sm btn-save rounded-0"><i class="fa fa-plus mr-1"></i>CREATE PRODUCT</a>
	<div *ngIf="createMode" class="float-right f-16 pt-1">You are in ADD NEW Mode</div>
	<div *ngIf="editMode" class="float-right f-16 pt-1">You are in EDIT Mode</div>
</div>
<form autocomplete="off">
	<div class="row" [formGroup]="purchaseForm" [class.disable-content]="(!createMode && !editMode)">
		<div class="col-lg-12 col-md-10">
			<div class="card">
				<div class="card-header py-1">
						<h6 class="m-0 font-weight-bold text-primary">{{ (createMode) ? 'ADD': ''}}{{ (editMode) ? 'EDIT': ''}} PURCHASE ORDER</h6>
				</div>
				<div class="card-body px-0 pb-3 pt-0">
					<div class="form-horizontal card-body-scroll pt-3">
						<div class="row mr-0" [class.disable-content-v]="goods_dispatched">
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Purchase From Country
									</label>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mt8" [class.form-invalid]="invalidForm && (purchaseForm.value.purchase_country == 'null' || purchaseForm.controls.purchase_country.invalid)" [class.invalid-box]="purchaseForm.controls.purchase_country.invalid">
										<select class="form-control" formControlName="purchase_country" (change)="changeCountry()">
											<option value="India">India</option>
											<option value="Overseas">Overseas</option>
										</select>
									</div>
									<div class="col-lg-4 col-md-4 px-0">
										<div *ngIf="showDispatchBtn">PO Dispatched</div>
										<div *ngIf="!showDispatchBtn && showInfoBtn">PO Information Added</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row mr-0">
							<div class="col-md-6" [class.disable-content-v]="goods_dispatched">
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Supplier
									</label>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8" [class.form-invalid]="invalidForm && purchaseForm.controls.supplier_id.invalid" [class.invalid-box]="purchaseForm.controls.supplier_id.invalid">
										<select class="form-control" formControlName="supplier_id" (change)="getPurchaseOrderNo()">
											<option [value]="null">-- Supplier --</option>
											<option *ngFor="let itm of suppliers" [value]="itm.id">{{itm.name}}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-1" [class.disable-content-v]="goods_dispatched">
							</div>
							<div class="col-md-5" [class.disable-content-v]="goods_dispatched">
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label p-0">
										<span class="text-danger">*</span>P.O.Date | Time
									</label>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pr-0 mt8" [class.form-invalid]="invalidForm && purchaseForm.controls.po_date.invalid" [class.invalid-box]="purchaseForm.controls.po_date.invalid">
										<input type="text" formControlName="t_po_date" class="form-control" placeholder="Date" id="po_date" (change)="changeDate('t_po_date', 'po_date')">
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pl-0 mt8" [class.form-invalid]="invalidForm && purchaseForm.controls.po_time.invalid" [class.invalid-box]="purchaseForm.controls.po_time.invalid">
										<div class="input-group">
											<div class="input-group-append">
												<span class="input-group-text custom-info"><i class="f-12 fa fa-clock"></i></span>
											</div>
											<input type="text" class="form-control" [value]="purchaseForm.value.po_time" id="po_time" placeholder="Time">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6" [class.disable-content-v]="goods_dispatched">
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>P.O.No
									</label>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8" [class.form-invalid]="invalidForm && purchaseForm.controls.po_no.invalid" [class.invalid-box]="purchaseForm.controls.po_no.invalid">
										<input type="text" disabled class="form-control" [value]="purchaseForm.value.po_no" placeholder="P.O. No">
									</div>
								</div>
							</div>
							<div class="col-md-6" [class.disable-content-v]="goods_dispatched">
								<div class="form-group row mr-0" *ngIf="purchaseForm.value.purchase_country != 'India'">
									<label class="col-lg-3 col-md-3 col-sm-3 text-right col-xs-12 control-label pl-0">
										<span class="text-danger" >*</span>Payment, Currency
									</label>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pr-0 mt8" [class.form-invalid]="invalidForm && isNotValid(purchaseForm.value.payment_currency)" [class.invalid-box]="purchaseForm.controls.payment_currency.invalid">
										<!-- <input type="text" class="form-control" formControlName="payment_currency" placeholder="Currency"> -->
										<select class="form-control" formControlName="payment_currency" (change)="calculate()">
											<option [value]="null">-- Currency --</option>
											<option *ngFor="let itm of currencyData" [value]="itm.currency_code">{{itm.currency_code}}</option>
										</select>
									</div>
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label pr-3 pl-0">
										<span class="text-danger">*</span>Exchange Rate (1 {{purchaseForm.value.payment_currency}})
									</label>
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 pl-0 mt8" [class.form-invalid]="invalidForm && purchaseForm.controls.exchange_rate.invalid" [class.invalid-box]="purchaseForm.controls.exchange_rate.invalid">
										<input type="number" class="form-control" formControlName="exchange_rate" placeholder="Rate" (keyup)="calculate()" appFormatInput>
									</div>
								</div>
							</div>
							<div class="col-md-8" [class.disable-content-v]="goods_dispatched">
								<div class="form-group row mr-0">
									<label class="col-md-3 text-right col-xs-12 control-label">
										Purchase Type
									</label>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mt8">
										<select class="form-control" formControlName="purchase_type">
											<option [value]="null">-- Purchase Type --</option>
											<option value="General">General</option>
											<option value="Scheme">Scheme</option>
											<option value="Special">Special</option>
										</select>
									</div>
									<div class="col-md-5 pl-0 d-flex" *ngIf="purchaseForm.value.purchase_type == 'Scheme' || purchaseForm.value.purchase_type == 'Special'">
										<label class="text-left control-label" style="min-width: 115px;">
											Purchase Details
										</label>
										<div class="mt8">
											<input type="text" class="form-control" formControlName="purchase_details" placeholder="Purchase Details">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 pr-0">
								<div class="form-group row mr-0">
									<div class="col-md-12 text-right pr-0">
										<button [disabled]="!showInfoBtn" type="button" class="btn btn-sm btn-save" (click)="viewPiInfo()">VIEW PI INFORMATION</button>
									</div>
								</div>
							</div>
						</div>
						<div class="row mr-0">
							<div class="col-md-8" [class.disable-content-v]="goods_dispatched">
								<div class="form-group row mr-0">
									<label class="col-lg-3 col-md-3 col-sm-3 text-right col-xs-12 control-label">
										Delivery Days
									</label>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mt8">
										<input type="number" class="form-control" formControlName="delivery_days" (blur)="setDeliveryDate()" placeholder="Days">
									</div>
									<div class="col-md-5 pl-0 d-flex">
										<label class="text-left control-label" style="min-width: 115px;">
											Delivery Date
										</label>
										<div class="mt8">
											<input type="text" disabled [value]="purchaseForm.value.delivery_date | date : 'dd/MM/y'" class="form-control" id="delivery_date" placeholder="Date">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 pr-0">
								<div class="form-group row mr-0">
									<div class="col-md-12 text-right pr-0">
										<button [disabled]="!showDispatchBtn" type="button" class="btn btn-sm btn-save" (click)="viewPiDispatch()">VIEW DISPATCH DETAILS</button>
									</div>
								</div>
							</div>
						</div>
						<div class="bg-secondary text-white d-inline-block px-2 py-1 f-14">
		    			PRODUCT DETAIL
		    		</div>
		    		<div class="right-title float-right text-right pointer" *ngIf="!goods_dispatched">
		    			<button type="button" class="btn btn-xs add-item-btn" (click)="viewAddItemModal()"><i class="fa fa-plus"></i> ADD ITEM</button>
		    		</div>
		    		<div class="table-responsive mb-3" style="overflow: unset;" [class.disable-content-v]="goods_dispatched">
							<table class="table table-bordered mb-0 border-0 w-100" cellspacing="0" rules="all">
								<thead>
							    <tr class="text-center">
						        <th width="50" class="p-0">Srl</th>
						        <th width="200" class="p-0">Prod. Group/Model No.</th>
						        <th class="p-0">Product Description</th>
						        <th width="90" class="p-0">Qnty/Rate</th>
						        <th width="110" class="p-0">Disc.,%/Amt</th>
						        <th width="100" class="p-0">Total, <span *ngIf="purchaseForm.value.purchase_country == 'India'">Rs.</span><span *ngIf="purchaseForm.value.purchase_country != 'India'">{{purchaseForm.value.payment_currency}}</span></th>
						        <th width="100" class="p-0">GST, %/Total</th>
						        <th width="120" class="p-0"><span *ngIf="purchaseForm.value.purchase_country == 'India'">Total w/GST, Rs.</span><span *ngIf="purchaseForm.value.purchase_country != 'India'">Total, {{purchaseForm.value.payment_currency}}.</span></th>
						        <th width="35" class="p-0"></th>
							    </tr>
								</thead>
								<tbody>
							    <tr *ngFor="let prod of productDetails;let i = index;">
							    	<td class="text-center">{{ (i + 1) }}</td>
							    	<td>
							    		<div *ngIf="prod.type == 'Product' && !prod.is_paired" [class.form-invalid]="(prod.error && isNotValid(prod.group_id))">
							    			<select class="form-control" [(ngModel)]="prod.group_id" [ngModelOptions]="{standalone: true}" (change)="getModels(prod, i, null)">
													<option [value]="null">-- Product Group --</option>
													<option *ngFor="let itm of productGroups" [value]="itm.id">{{itm.name}}</option>
												</select>
							    		</div>
							    		<div *ngIf="prod.type == 'Service'" [class.form-invalid]="(prod.error && isNotValid(prod.group_id))">
							    			<select class="form-control" [(ngModel)]="prod.group_id" [ngModelOptions]="{standalone: true}" (change)="getServices(prod, i, null)">
													<option [value]="null">-- Service Group --</option>
													<option *ngFor="let itm of serviceGroups" [value]="itm.id">{{itm.name}}</option>
												</select>
							    		</div>
							    		<div *ngIf="prod.type == 'Product' && prod.is_paired" [class.form-invalid]="(prod.error && isNotValid(prod.product_id))">
							    			<input type="text" disabled class="form-control" [(ngModel)]="prod.group_name" [ngModelOptions]="{standalone: true}">
							    		</div>
							    		<div class="mt-2" *ngIf="prod.type == 'Product' && !prod.is_paired" [class.form-invalid]="(prod.error && isNotValid(prod.product_id))">
							    			<select class="form-control" [(ngModel)]="prod.product_id" [ngModelOptions]="{standalone: true}" (change)="changeModel(prod.product_id, prod, false)">
													<option [value]="null">-- Model No --</option>
													<option *ngFor="let itm of prod.products" [value]="itm.id">{{itm.model_no}}</option>
												</select>
							    		</div>
							    		<div class="mt-2" *ngIf="prod.type == 'Service'" [class.form-invalid]="(prod.error && isNotValid(prod.product_id))">
							    			<select class="form-control" [(ngModel)]="prod.product_id" [ngModelOptions]="{standalone: true}" (change)="changeModel(prod.product_id, prod, false)">
													<option [value]="null">-- Service Code --</option>
													<option *ngFor="let itm of prod.products" [value]="itm.id">{{itm.service_code}}</option>
												</select>
							    		</div>
							    		<div class="mt-2" *ngIf="prod.type == 'Product' && prod.is_paired" [class.form-invalid]="(prod.error && isNotValid(prod.product_id))">
							    			<input type="text" disabled class="form-control" [(ngModel)]="prod.product_name" [ngModelOptions]="{standalone: true}">
							    		</div>
							    	</td>
							    	<td style="height:90px" data-toggle="tooltip" data-placement="top" data-html="true" title="{{prod.tdescription}}">
							    		<textarea id="Product{{prod.product_id}}" disabled [class.bg-pink]="(prod.is_paired)" class="form-control border-0" rows="3" [innerHTML]="prod.description"></textarea>
							    	</td>
							    	<td>
							    		<div [class.form-invalid]="checkValidQty(prod)" [class.form-invalid]="(prod.error && isNotValid(prod.qty))">
							    			<input type="number" class="form-control text-right" [(ngModel)]="prod.qty" [ngModelOptions]="{standalone: true}" placeholder="Quantity" (keyup)="calculate()" (change)="checkValidQtyErr(prod)">
							    		</div>
							    		<div class="mt-2" [class.form-invalid]="(prod.error && isNotValid(prod.rate))">
							    			<input type="number" [disabled]="(prod.is_paired)" class="form-control text-right" [(ngModel)]="prod.rate" [ngModelOptions]="{standalone: true}" placeholder="Rate" (keyup)="calculate()" appFormatInput>
							    		</div>
							    	</td>
							    	<td>
							    		<div>
							    			<input type="number" [disabled]="(prod.is_paired)" class="form-control text-right" [(ngModel)]="prod.discount_percentage" [ngModelOptions]="{standalone: true}" placeholder="%" (keyup)="calculate()" appFormatInput>
							    		</div>
							    		<div class="mt-2">
							    			<input type="number" disabled class="form-control text-right" [value]="getDiscountAmount(prod)" placeholder="0.00">
							    		</div>
							    	</td>
							    	<td class="text-right">
							    		{{toFixed(prod.sub_total)}}
							    	</td>
							    	<td>
							    		<div [class.form-invalid]="(prod.error && isNotValid(prod.gst_percentage))">
							    			<input type="number" disabled class="form-control text-right" [(ngModel)]="prod.gst_percentage" [ngModelOptions]="{standalone: true}" placeholder="TAX" (keyup)="calculate()" appFormatInput>
							    		</div>
							    		<div class="mt-2 text-right">
							    			{{toFixed(prod.gst_amount)}}
							    		</div>
							    	</td>
							    	<td class="text-right">
							    		{{toFixed(prod.total_amount)}}
							    	</td>
							    	<td class="text-center position-relative">
							    		<div class="adminActions" id="adminActions">
												<a class="adminButton" (click)="setFalseData(i);prod.show = !prod.show"><i class="fa fa-folder-open"></i></a>
												<div class="adminButtons" [class.checked]="(prod.show)" *ngIf="prod.show && isFocus">
													<a (click)="viewRemoveModal(prod, i);prod.show = false" title="Remove Product">Delete <i class="fa fa-trash"></i></a>
													<a *ngIf="!isNotValid(prod.product_id)" (click)="viewRemarkModal(prod, i);prod.show = false" title="Add Remarks">Add Remark <i class="fa fa-edit"></i></a>
													<a *ngIf="!isNotValid(prod.product_id)" (click)="viewProductDetailModal(prod, i);prod.show = false" title="Product Info">Info <i class="fa fa-info"></i></a>
												</div>
											</div>
							    	</td>
							    </tr>
							    <tr class="total">
							    	<td class="text-center"></td>
							    	<td class="text-center"></td>
							    	<td class="text-right"><b>Total Amount, </b> <b *ngIf="purchaseForm.value.purchase_country == 'India'">Rs.</b><b *ngIf="purchaseForm.value.purchase_country != 'India'">{{purchaseForm.value.payment_currency}}</b></td>
							    	<td class="text-right">
							    		<span>{{purchaseForm.value.qty_rate_total | number: '1.2-2'}}</span>
							    	</td>
							    	<td class="text-right">
							    		<span>{{purchaseForm.value.discount_total | number: '1.2-2'}}</span>
							    	</td>
							    	<td class="text-right">
							    		<span>{{purchaseForm.value.sub_total | number: '1.2-2'}}</span>
							    	</td>
							    	<td class="text-right">
							    		<span>{{purchaseForm.value.gst_total | number: '1.2-2'}}</span>
							    	</td>
							    	<td class="text-right">
							    		<span>{{purchaseForm.value.total_amount | number: '1.2-2'}}</span>
							    	</td>
							    	<td class="text-center">
							    	</td>
							    </tr>
							    <tr class="total" *ngIf="purchaseForm.value.purchase_country == 'Overseas'">
							    	<td class="text-center"></td>
							    	<td class="text-center"></td>
							    	<td class="text-right"><b>Total Amount, Rs</b></td>
							    	<td class="text-right">
							    		<span>{{toFixed(purchaseForm.value.qty_rate_total * purchaseForm.value.exchange_rate)}}</span>
							    	</td>
							    	<td class="text-right">
							    		<span>{{toFixed(purchaseForm.value.discount_total * purchaseForm.value.exchange_rate)}}</span>
							    	</td>
							    	<td class="text-right">
							    		<span>{{toFixed(purchaseForm.value.sub_total * purchaseForm.value.exchange_rate)}}</span>
							    	</td>
							    	<td class="text-right">
							    		<span>{{toFixed(purchaseForm.value.gst_total)}}</span>
							    	</td>
							    	<td class="text-right">
							    		<span>{{toFixed(purchaseForm.value.total_amount * purchaseForm.value.exchange_rate)}}</span>
							    	</td>
							    	<td class="text-center">
							    	</td>
							    </tr>
							  </tbody>
							</table>
						</div>
						<div class="row mr-0" [class.disable-content-v]="goods_dispatched">
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
										Payment Terms
									</label>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8">
										<input type="text" class="form-control" formControlName="payment_terms" placeholder="Enter Payment Terms">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-3 col-md-3 col-sm-3 text-right col-xs-12 control-label">
										Item Amount
									</label>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pr-0 mt8">
										<div class="input-group">
											<div class="input-group-append">
												<span class="input-group-text custom-info"><span *ngIf="purchaseForm.value.purchase_country == 'India'"><i class="f-12 fa fa-rupee-sign"></i></span><span *ngIf="purchaseForm.value.purchase_country != 'India'">{{purchaseForm.value.payment_currency}}</span></span>
											</div>
											<input type="number" [value]="toFixed(purchaseForm.value.item_amount)" class="form-control" formControlName="item_amount" placeholder="Enter Item Amount" (keyup)="calculateTotal()" appFormatInput>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
										Freight
									</label>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8">
										<input type="text" class="form-control" formControlName="freight" placeholder="Enter Freight">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-3 col-md-3 col-sm-3 text-right col-xs-12 control-label">
										Discount
									</label>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pr-0 mt8">
										<div class="input-group">
											<div class="input-group-append">
												<span class="input-group-text custom-info"><i class="f-12 fa fa-percent"></i></span>
											</div>
											<input type="number" class="form-control" [value]="toFixed(purchaseForm.value.discount_percentage)" formControlName="discount_percentage" placeholder="Enter Percentage" (keyup)="calculateTotal()" appFormatInput>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pr-0 pl-0 mt8">
										<div class="input-group">
											<div class="input-group-append">
												<span class="input-group-text custom-info"><span *ngIf="purchaseForm.value.purchase_country == 'India'"><i class="f-12 fa fa-rupee-sign"></i></span><span *ngIf="purchaseForm.value.purchase_country != 'India'">{{purchaseForm.value.payment_currency}}</span></span>
											</div>
											<input type="number" class="form-control" [value]="toFixed(purchaseForm.value.discount_amount)" formControlName="discount_amount" placeholder="0" (change)="changeDiscountAmount()" appFormatInput>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
										Delivery Schedule
									</label>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8">
										<input type="text" class="form-control" formControlName="delivery_schedule" placeholder="Enter Delivery Schedule">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-3 col-md-3 col-sm-3 text-right col-xs-12 control-label">
										Final Amount
									</label>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pr-0 mt8">
										<div class="input-group">
											<div class="input-group-append">
												<span class="input-group-text custom-info"><span *ngIf="purchaseForm.value.purchase_country == 'India'"><i class="f-12 fa fa-rupee-sign"></i></span><span *ngIf="purchaseForm.value.purchase_country != 'India'">{{purchaseForm.value.payment_currency}}</span></span>
											</div>
											<input type="number" class="form-control" [value]="toFixed(purchaseForm.value.final_amount)" formControlName="final_amount" placeholder="Enter Final Amount" (change)="changeFinalAmount()" appFormatInput>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
										Dispatch Mode
									</label>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8">
										<input type="text" class="form-control" formControlName="dispatch_mode" placeholder="Enter Dispatch Mode">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0" *ngIf="purchaseForm.value.purchase_country != 'India'">
									<label class="col-lg-3 col-md-3 col-sm-3 text-right col-xs-12 control-label">
										Final Amount, Rs
									</label>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pr-0 mt8">
										<div class="input-group">
											<div class="input-group-append">
												<span class="input-group-text custom-info"><i class="f-12 fa fa-rupee-sign"></i></span>
											</div>
											<input disabled type="number" class="form-control" [value]="(toFixed(purchaseForm.value.final_amount * purchaseForm.value.exchange_rate))" placeholder="Enter Final Amount">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
										Transporter
									</label>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8">
										<input type="text" class="form-control" formControlName="transporter" placeholder="Enter Transporter">
									</div>
								</div>
							</div>
							<div class="col-md-6">
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
										Agreed Warantee Term
									</label>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8">
										<input type="text" class="form-control" formControlName="agreed_warantee_term" placeholder="Enter Transporter">
									</div>
								</div>
							</div>
							<div class="col-md-6">
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
										Remark
									</label>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8">
										<textarea class="form-control" formControlName="remark" placeholder="Enter Remark" rows="3"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="pt-3 text-left border-top pl-3">
							<button type="button" (click)="resetForm()" class="mr-2 btn btn-sm btn-undo" *ngIf="!goods_dispatched">Undo</button>
							<button type="button" (click)="closeForm()" class="mr-2 btn btn-sm btn-close">Close</button>
							<button type="button" (click)="saveOrder()" class="mr-2 btn btn-sm btn-save" *ngIf="!goods_dispatched">Save</button>
						</div>
				</div>
			</div>
		</div>
	</div>
</form>

<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;background: #000000a1;" *ngIf="showEditModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Purchase Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showEditModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="row">
    			<div class="col-md-12">
    				<div class="form-group row mr-0">
      				<label class="col-md-3 text-right control-label">
								<span class="text-danger">*</span>Supplier
							</label>
							<div class="col-md-9">
								<select class="form-control" [(ngModel)]="supplierId" (change)="getPurchaseOrder()">
									<option [value]="null">-- Select Supplier --</option>
									<option *ngFor="let itm of editSuppliers" [value]="itm.id">{{itm.name}}</option>
								</select>
							</div>
						</div>
    			</div>
    			<div class="col-md-12">
    				<div class="form-group row mr-0">
      				<label class="col-md-3 text-right control-label">
								<span class="text-danger">*</span>PO No.
							</label>
							<div class="col-md-9">
								<select class="form-control" [(ngModel)]="purchaseId">
									<option [value]="null">-- Select PO No. --</option>
									<option *ngFor="let itm of purchaseOrders" [value]="itm.id">{{itm.po_no}} <small class="f-12">|</small> {{itm.po_date | date : 'dd/MM/y'}} | {{(itm.purchase_country == 'India') ? 'Rs' : itm.payment_currency}}. {{itm.final_amount | number : '1.2-2'}}</option>
								</select>
							</div>
						</div>
    			</div>
    		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-close" (click)="showEditModal = false">Close</button>
        <button type="button" class="btn btn-sm btn-save" (click)="showData()">Show</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;background: #000000a1;" *ngIf="showAddItemModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">What you want to add ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showAddItemModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="col-md-12">
  				<div class="form-group row mr-0">
    				<label class="col-md-12 control-label">
							<input type="checkbox" (change)="addRow('Product')"><span class="checkbox-text">Add Product</span>
						</label>
					</div>
					<div class="form-group row mr-0">
    				<label class="col-md-12 control-label">
							<input type="checkbox" (change)="addRow('Service')"><span class="checkbox-text">Add Service</span>
						</label>
					</div>
  			</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-close" data-dismiss="modal" (click)="showAddItemModal = false">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;background: #000000a1;" *ngIf="showDeleteModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Purchase Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showDeleteModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      		<h6>Are You Sure to Delete this Purchase Order?</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-close" data-dismiss="modal" (click)="showDeleteModal = false">No</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="deleteData()">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;background: #000000a1;" *ngIf="showRemoveModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showRemoveModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      		<h6>Are you sure to delete this product?</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-close" data-dismiss="modal" (click)="showRemoveModal = false">No</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="removeProduct()">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;background: #000000a1;" *ngIf="showRemarkModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Remarks</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showRemarkModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      		<textarea rows="5" class="form-control" placeholder="Remarks" [(ngModel)]="productRemark"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-close" data-dismiss="modal" (click)="showRemarkModal = false">Close</button>
        <button type="button" class="btn btn-sm btn-save" (click)="saveRemark()">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;background: #000000a1;" *ngIf="showProductDetailModal">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content" *ngIf="selectedModal">
      <div class="modal-header">
        <h5 class="modal-title">Model No.: {{selectedModal.model_no}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showProductDetailModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    		<div class="row" *ngIf="selectedModal">
    			<div class="col-md-4">
    				<ng-container *ngIf="productImage">
	            <img [src]="productImage" class="img-fluid pointer" />
	        	</ng-container>
	        	<h5 class="text-uppercase mt-2">Product Group</h5>
	        	<p><i class="fa fa-shopping-bag mr-2"></i>{{selectedModal.group.name}}</p>
    			</div>
    			<div class="col-md-8">
    				<div class="form-horizontal">
	              <div class="form-group">
	                  <span class="bold">HSN Code: </span>{{selectedModal.hsn_code}}
	              </div>
	              <div class="form-group">
	                  <span class="bold">Product Code: </span>{{selectedModal.product_code}}
	              </div>
	              <div class="form-group">
	                  <span class="bold">Product Remark: </span>{{selectedModal.remarks}}
	              </div>
	              <div class="form-group">
	                  <span class="bold">Sold: </span>0
	              </div>
	              <div class="form-group">
	                  <span class="bold">In Stock: </span>5
	              </div>
	              <div class="form-group">
	                  <span class="bold">UOM: </span>Nos.
	              </div>
	              <div class="form-group">
	                  <span class="bold">Brand: </span>{{selectedModal.brand.name}}
	              </div>
	              <div class="form-group">
	                  <span class="bold">Prod. Description: </span><br> {{selectedModal.description}}
	              </div>
	              <div class="form-group">
	                  
	              </div>
	          </div>
    			</div>
    		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-close" data-dismiss="modal" (click)="showProductDetailModal = false">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;background: #000000a1;" *ngIf="ShowPIInformation">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content" *ngIf="piInfoData">
      <div class="modal-header">
        <h5 class="modal-title">PI Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="ShowPIInformation = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    		<div class="row pt-2" [class.border-top]="(i > 0)" *ngFor="let pidata of piInfoData;let i = index;">
    			<div class="col-md-7">
    				<div class="form-group row">
    					<label class="col-md-4 control-label text-right">Online PO No. :</label>
    					<div class="col-md-8">{{pidata.online_po_no}}</div>
    				</div>
    			</div>
    			<div class="col-md-5">
    				<div class="form-group row">
    					<label class="col-md-4 control-label text-right">PO Date :</label>
    					<div class="col-md-8">{{pidata.po_date | date : 'dd/MM/y'}}</div>
    				</div>
    			</div>
    			<div class="col-md-7">
    				<div class="form-group row">
    					<label class="col-md-4 control-label text-right">PO Comments :</label>
    					<div class="col-md-8">{{pidata.po_comments}}</div>
    				</div>
    			</div>
    			<div class="col-md-7">
    				<div class="form-group row">
    					<label class="col-md-4 control-label text-right">Discount Remark :</label>
    					<div class="col-md-8">{{pidata.discount_remarks}}</div>
    				</div>
    			</div>
    			<div class="col-md-7">
    				<div class="form-group row">
    					<label class="col-md-4 control-label text-right">PI No. :</label>
    					<div class="col-md-8">{{pidata.pi_no}}</div>
    				</div>
    			</div>
    			<div class="col-md-5">
    				<div class="form-group row">
    					<label class="col-md-4 control-label text-right">PI Date :</label>
    					<div class="col-md-8">{{pidata.pi_date | date : 'dd/MM/y'}}</div>
    				</div>
    			</div>
    			<div class="col-md-7">
    				<div class="form-group row">
    					<label class="col-md-4 control-label text-right">PI Approved By :</label>
    					<div class="col-md-8" *ngIf="pidata.user">{{pidata.user.first_name}} {{pidata.user.last_name}} {{pidata.user.father_name}}</div>
    				</div>
    			</div>
    			<!-- <div class="col-md-7">
    				<div class="form-group row">
    					<label class="col-md-4 control-label text-right">Date :</label>
    					<div class="col-md-8">{{pidata.pio_date | date : 'dd/MM/y'}}</div>
    				</div>
    			</div>
    			<div class="col-md-5">
    				<div class="form-group row">
    					<label class="col-md-4 control-label text-right">Time :</label>
    					<div class="col-md-8">{{pidata.pio_time}}</div>
    				</div>
    			</div> -->
    			<div class="col-md-7">
    				<div class="form-group row">
    					<label class="col-md-4 control-label text-right">PI Remark :</label>
    					<div class="col-md-8">{{pidata.pi_remarks}}</div>
    				</div>
    			</div>
    		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-close" data-dismiss="modal" (click)="ShowPIInformation = false">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;background: #000000a1;" *ngIf="ShowPoDispatch">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content" *ngIf="piDispatchData">
      <div class="modal-header">
        <h5 class="modal-title">Dispatch Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="ShowPoDispatch = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    		<div class="row pt-2" [class.border-top]="(i > 0)" *ngFor="let pidis of piDispatchData;let i = index;">
    			<div class="col-md-6">
    				<div class="form-group row">
    					<label class="col-md-5 control-label text-right">Dispatched On</label>
    					<div class="col-md-7">
    						<input type="text" class="form-control" [value]="pidis.dispatched_on_date | date : 'dd/MM/y'" disabled>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6">
    			</div>
    			<div class="col-md-6">
    				<div class="form-group row">
    					<label class="col-md-5 control-label text-right">Dispatch Delivered</label>
    					<div class="col-md-7">
    						<input type="text" class="form-control" [value]="pidis.expected_date | date : 'dd/MM/y'" disabled>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6">
    				<div class="form-group row">
    					<label class="col-md-5 control-label text-right">eWay Bill No</label>
    					<div class="col-md-7">
    						<input type="text" class="form-control" [value]="pidis.e_way_bill_no" disabled>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6">
    				<div class="form-group row">
    					<label class="col-md-5 control-label text-right">eWay Bill Date</label>
    					<div class="col-md-7">
    						<input type="text" class="form-control" [value]="pidis.e_way_date | date : 'dd/MM/y'" disabled>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6">
    				<div class="form-group row">
    					<label class="col-md-5 control-label text-right">eWay Bill Time</label>
    					<div class="col-md-7">
    						<input type="text" class="form-control" [value]="pidis.e_way_time" disabled>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6">
    				<div class="form-group row">
    					<label class="col-md-5 control-label text-right">Valid From</label>
    					<div class="col-md-7">
    						<input type="text" class="form-control" [value]="pidis.valid_from | date : 'dd/MM/y'" disabled>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6">
    				<div class="form-group row">
    					<label class="col-md-5 control-label text-right">Valid Until</label>
    					<div class="col-md-7">
    						<input type="text" class="form-control" [value]="pidis.valid_until | date : 'dd/MM/y'" disabled>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6">
    				<div class="form-group row">
    					<label class="col-md-5 control-label text-right">Transporter</label>
    					<div class="col-md-7">
    						<input *ngIf="pidis.transport" type="text" class="form-control" [value]="pidis.transport.name" disabled>
    						<input *ngIf="!pidis.transport" type="text" class="form-control" disabled>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6">
    				<div class="form-group row">
    					<label class="col-md-5 control-label text-right">Vehicle No</label>
    					<div class="col-md-7">
    						<input type="text" class="form-control" [value]="pidis.vehicle_no" disabled>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6">
    				<div class="form-group row">
    					<label class="col-md-5 control-label text-right">Docket No</label>
    					<div class="col-md-7">
    						<input type="text" class="form-control" [value]="pidis.id" disabled>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6">
    				<div class="form-group row">
    					<label class="col-md-5 control-label text-right">Docket Date</label>
    					<div class="col-md-7">
    						<input type="text" class="form-control" [value]="pidis.docket_date | date : 'dd/MM/y'" disabled>
    					</div>
    				</div>
    			</div>
    		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-close" data-dismiss="modal" (click)="ShowPoDispatch = false">Close</button>
      </div>
    </div>
  </div>
</div>

<ngx-ui-loader></ngx-ui-loader>
