<div class="action-btns">
	<button (click)="viewCreateMode()" [disabled]="(editMode || createMode)" type="button" class="mr-2 btn btn-sm btn-secondary"><i class="fa fa-plus mr-1"></i>ADD</button>
	<button (click)="viewEditMode()" [disabled]="(editMode || createMode)" type="button" class="mr-2 btn btn-sm btn-info"><i class="fa fa-edit mr-1"></i>EDIT</button>
	<button (click)="deleteInfo()" [disabled]="(!editMode)" type="button" class="mr-2 btn btn-sm btn-warning"><i class="fa fa-trash mr-1"></i>DELETE</button>
	<div *ngIf="createMode" class="float-right f-16 pt-1">You are in ADD NEW Mode</div>
	<div *ngIf="editMode" class="float-right f-16 pt-1">You are in EDIT Mode</div>
</div>
<form autocomplete="off">
	<div class="row" [formGroup]="purchaseForm" [class.disable-content]="(!createMode && !editMode)">
		<div class="col-lg-12 col-md-10">
			<div class="card">
				<div class="card-header py-1">
						<h6 class="m-0 font-weight-bold text-primary">{{ (createMode) ? 'ADD': ''}}{{ (editMode) ? 'EDIT': ''}} SALES EXCHANGE DISPATCH</h6>
				</div>
				<div class="card-body px-0 pb-3 pt-0">
					<div class="form-horizontal card-body-scroll pt-1">
						<div class="bg-secondary text-white d-inline-block px-2 py-1 f-14 text-uppercase">
		    			Client List: Dispatch Pending
		    		</div>
						<div class="table-responsive mb-2">
							<table class="table table-bordered mb-0 border-0 w-100" cellspacing="0" rules="all">
								<thead>
							    <tr class="text-center">
						        <th width="60">Srl</th>
						        <th width="150">Sales Executive</th>
						        <th width="150">Client</th>
						        <th width="150">Location</th>
						        <th width="150">Priority</th>
						        <th>Exchange Demand No.</th>
						        <th width="100">Date</th>
						        <th width="150">Source of Demand</th>
							    </tr>
								</thead>
								<tbody>
									<tr *ngFor="let item of ExchangeDemands;let i = index;" (click)="setRow(item)" [class.bg-secondary]="(purchaseForm.value.exchange_id == item.id)">
										<td class="text-center">{{ (i + 1) }}</td>
										<td>{{item.executive.first_name}} {{item.executive.father_name}} {{item.executive.last_name}}</td>
										<td>{{item.client.account_name}}</td>
										<td>{{item.location.name}}</td>
										<td>{{item.priority}}</td>
										<td>{{item.exchange_no}}</td>
										<td>{{item.exchange_date | date: 'dd/MM/y'}}</td>
										<td>{{item.source_demand}}</td>
									</tr>
							  </tbody>
							</table>
						</div>
						<div class="pl-2 mb-1"><b>Exchange Demand & Dispatch Details</b></div>
						<div class="row mr-0">
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Dispatch Demand No.
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8" [class.form-invalid]="invalidForm && purchaseForm.controls.exchange_dispatch_no.invalid" [class.invalid-box]="purchaseForm.controls.exchange_dispatch_no.invalid">
										<input type="text" disabled class="form-control" value="{{purchaseForm.value.exchange_dispatch_no}}" placeholder="Dispatch Demand No">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Dispatch Date | Time
									</label>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mt8" [class.form-invalid]="invalidForm && purchaseForm.controls.exchange_dispatch_date.invalid" [class.invalid-box]="purchaseForm.controls.exchange_dispatch_date.invalid">
										<input type="text" formControlName="t_exchange_dispatch_date" class="form-control" placeholder="Date" id="exchange_dispatch_date" (change)="changeDate('t_exchange_dispatch_date', 'exchange_dispatch_date')">
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pl-0 mt8">
										<div class="input-group" [class.form-invalid]="invalidForm && purchaseForm.controls.exchange_dispatch_time.invalid" [class.invalid-box]="purchaseForm.controls.exchange_dispatch_time.invalid">
											<div class="input-group-append">
												<span class="input-group-text custom-info"><i class="f-12 fa fa-clock"></i></span>
											</div>
											<input type="text" class="form-control" [value]="purchaseForm.value.exchange_dispatch_time" id="exchange_dispatch_time" placeholder="Time">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Client
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8">
										<input type="text" disabled class="form-control" value="{{purchaseForm.value.client}}" placeholder="Client">
									</div>
								</div>
							</div>
							<div class="col-md-6">
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Location
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8">
										<input disabled type="text" class="form-control" value="{{purchaseForm.value.location}}" placeholder="Location">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										Project
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8">
										<input disabled type="text" class="form-control" value="{{purchaseForm.value.project}}" placeholder="Project">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Demand No.
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8">
										<input disabled type="text" class="form-control" value="{{purchaseForm.value.exchange_no}}" placeholder="Demand No.">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Demand Date | Time.
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8">
										<input disabled type="text" class="form-control" value="{{purchaseForm.value.exchange_date | date: 'dd/MM/y'}} {{purchaseForm.value.exchange_time}}" placeholder="Date | Time">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Demand Approved No.
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8">
										<input disabled type="text" class="form-control" value="{{purchaseForm.value.exchange_no}}" placeholder="Demand No.">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Demand Approved Date | Time.
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8">
										<input disabled type="text" class="form-control" value="{{purchaseForm.value.status_date | date: 'dd/MM/y'}} {{purchaseForm.value.status_time}}" placeholder="Date | Time">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Demand Approved By.
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8">
										<input type="text" disabled class="form-control" value="{{purchaseForm.value.approved_by}}" placeholder="Approved By">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<!-- <div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Approved Date | Time.
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8">
										<input type="text" disabled class="form-control">
									</div>
								</div> -->
							</div>
							<!-- <div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Store OUT by, Name
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8"[class.form-invalid]="invalidForm && purchaseForm.controls.store_out_id.invalid" [class.invalid-box]="purchaseForm.controls.store_out_id.invalid">
										<select class="form-control" formControlName="store_out_id">
											<option [value]="null">-- Select Store By --</option>
											<option *ngFor="let itm of staffs" [value]="itm.id">{{itm.first_name}} {{itm.father_name}} {{itm.last_name}}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-6 col-md-6 col-sm-6 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Delivered (To Client by, Name)
									</label>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt8"[class.form-invalid]="invalidForm && purchaseForm.controls.delivered_id.invalid" [class.invalid-box]="purchaseForm.controls.delivered_id.invalid">
										<select class="form-control" formControlName="delivered_id">
											<option [value]="null">-- Select Delivered By --</option>
											<option *ngFor="let itm of staffs" [value]="itm.id">{{itm.first_name}} {{itm.father_name}} {{itm.last_name}}</option>
										</select>
									</div>
								</div>
							</div> -->
						</div>
						<div class="bg-secondary text-white d-inline-block px-2 py-1 f-14 text-uppercase">
		    			Item List: Dispatch Pending
		    		</div>
		    		<div class="table-responsive mb-3">
							<table class="table table-bordered mb-0 border-0 w-100" cellspacing="0" rules="all">
								<thead>
							    <tr class="text-center">
						        <th width="40">Srl</th>
						        <th>Prod. Group.</th>
						        <th>Model No.</th>
						        <th>Prod. Description</th>
						        <th>MAC/SR No.</th>
						        <th>Reason of Exchange</th>
						        <th>QR Code</th>
						        <th>Warranty</th>
						        <th>QR Code, Dispatch</th>
							    </tr>
								</thead>
								<tbody>
							    <tr *ngFor="let prod of delivered_products;let i = index;">
							    	<td class="text-center">{{(i + 1)}}</td>
							    	<td>{{prod.group.name}}</td>
							    	<td>{{prod.product.model_no}}</td>
							    	<td><textarea disabled class="form-control border-0" rows="2" [innerHtml]="prod.description"></textarea></td>
							    	<td>{{prod.mac_address}}<span *ngIf="prod.serial_no"> / {{prod.serial_no}}</span></td>
							    	<td>{{prod.reason}}</td>
							    	<td>{{prod?.qr_code}}</td>
							    	<td><span *ngIf="prod.warranty_date">{{prod.warranty_date | date : 'dd/MM/y'}}</span></td>
							    	<td><input type="text" name="dispatch_qr_code{{i}}" class="form-control max-100" [ngModelOptions]="{standalone: true}" [(ngModel)]="prod.dispatch_qr_code" placeholder="QR Code" (change)="getProductQrCode(prod, i)"></td>
							    </tr>
							  </tbody>
							</table>
						</div>
					</div>
					<div class="pt-3 text-left border-top pl-3">
							<button type="button" class="mr-2 btn btn-sm btn-undo">Undo</button>
							<button type="button" (click)="closeForm()" class="mr-2 btn btn-sm btn-close">Close</button>
							<button type="button" (click)="saveInfo()" class="mr-2 btn btn-sm btn-save">Save</button>
						</div>
				</div>
			</div>
		</div>
	</div>
</form>
<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;background: #000000a1;" *ngIf="showEditModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Exchange Dispatch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showEditModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="row">
    			<div class="col-md-12">
    				<div class="form-group row mr-0">
      				<label class="col-md-4 text-right control-label">
								<span class="text-danger">*</span>Client
							</label>
							<div class="col-md-8">
								<select class="form-control" [(ngModel)]="clientId" name="clientId" (change)="getDispatched()">
									<option [value]="null">-- Select Client --</option>
									<option *ngFor="let itm of clients" [value]="itm.id">{{itm.account_name}}</option>
								</select>
							</div>
						</div>
    			</div>
    			<div class="col-md-12">
    				<div class="form-group row mr-0">
      				<label class="col-md-4 text-right control-label">
								<span class="text-danger">*</span>Select
							</label>
							<div class="col-md-8">
								<select class="form-control" [(ngModel)]="dispatchId" name="dispatchId">
									<option [value]="null">-- Select Demand --</option>
									<option *ngFor="let itm of dispatchedDemands" [value]="itm.id">{{itm.exchange_dispatch_no}}</option>
								</select>
							</div>
						</div>
    			</div>
    		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-close" (click)="showEditModal = false">Close</button>
        <button type="button" [disabled]="(isNotValid(clientId) || isNotValid(dispatchId))" class="btn btn-sm btn-save" (click)="showData()">Show</button>
      </div>
    </div>
  </div>
</div>
<ngx-ui-loader></ngx-ui-loader>
