.product-image:hover img { opacity: 0.3;  }
.edit-photo { position: absolute; top: 45%; left: 48%; font-size: 20px; color: #000; display: none; cursor: pointer;}
.product-image:hover .edit-photo { display: block;  }