<div class="action-btns">
	<button [disabled]="editMode || clearMode || viewMode" (click)="viewEditMode()" type="button" class="mr-2 btn btn-sm btn-secondary"><i class="fa fa-plus mr-1"></i> ADD RATE</button>
	<button [disabled]="editMode || clearMode || viewMode" (click)="viewClearMode()" type="button" class="mr-2 btn btn-sm btn-warning"><i class="fa fa-edit mr-1"></i> CLEAR RATE</button>
	<button [disabled]="editMode || clearMode || viewMode" (click)="viewRateMode()" type="button" class="mr-2 btn btn-sm btn-info"><i class="fa fa-edit mr-1"></i> VIEW</button>
	<div *ngIf="!clearMode && editMode && !viewMode" class="float-right f-16 pt-1">You are in ADD Mode</div>
	<div *ngIf="clearMode" class="float-right f-16 pt-1">You are in CLEAR RATE Mode</div>
	<div *ngIf="viewMode" class="float-right f-16 pt-1">You are in VIEW Mode</div>
</div>
<form autocomplete="off" class="purchase-rate-cn">
	<div class="row" [formGroup]="purchaseForm" [class.disable-content]="(!editMode || !purchaseForm.value.purchase_id)">
		<div class="col-lg-12 col-md-10">
			<div class="card">
				<div class="card-header py-1">
						<h6 class="m-0 font-weight-bold text-primary">PURCHASE RATE</h6>
				</div>
				<div class="card-body px-0 pb-3 pt-0">
					<div class="form-horizontal card-body-scroll pt-3">
						<div class="row mr-0">
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Purchase No.
									</label>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8">
										<input type="text" disabled class="form-control" [value]="purchaseForm.value.purchase_no" placeholder="Purchase No.">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
										Invoice No.
									</label>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pr-0 mt8">
										<input type="text" disabled class="form-control" [value]="purchaseForm.value.invoice_no" placeholder="Invoice No.">
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pl-0 mt8">
										<div class="input-group">
											<div class="input-group-append">
												<span class="input-group-text custom-info"><i class="f-12 fa fa-rupee-sign"></i></span>
											</div>
											<input type="text" disabled class="form-control" [value]="purchaseForm.value.invoice_amount | number: '1.2-2'">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Date
									</label>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8">
										<input type="text" disabled class="form-control" [value]="purchaseForm.value.materials_received_date | date : 'dd/MM/y'" placeholder="Date">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
										Invoice Date
									</label>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8">
										<input type="text" disabled class="form-control" [value]="purchaseForm.value.invoice_date | date : 'dd/MM/y'" placeholder="Date">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Supplier
									</label>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8">
										<select disabled class="form-control" [value]="purchaseForm.value.supplier_id">
											<option [value]="null">-- Supplier --</option>
											<option *ngFor="let itm of suppliers" [value]="itm.id">{{itm.name}}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
										Remarks
									</label>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8">
										<textarea class="form-control" formControlName="remarks" rows="3" placeholder="Enter Remarks"></textarea>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
										<span class="text-danger">*</span>Received By
									</label>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8">
										<select disabled class="form-control" [value]="purchaseForm.value.received_by">
											<option [value]="null">-- Select Approved By --</option>
											<option *ngFor="let itm of staffs" [value]="itm.id">{{itm.first_name}} {{itm.father_name}} {{itm.last_name}}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
										Due Date
									</label>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8">
										<input type="text" disabled class="form-control" [value]="purchaseForm.value.due_date | date : 'dd/MM/y'" placeholder="Date">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
										Due Days
									</label>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8">
										<input type="text" disabled class="form-control" [value]="purchaseForm.value.due_days" placeholder="Days">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
										Payment done, Date
									</label>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8">
										<input type="text" disabled class="form-control" [value]="purchaseForm.value.payment_done_date" placeholder="Date">
									</div>
								</div>
							</div>
						</div>
						<div class="bg-secondary text-white d-inline-block px-2 py-1 f-14">
		    			PRODUCT LIST
		    		</div>
		    		<div class="table-responsive mb-3">
							<table class="table table-bordered mb-0 border-0 w-100" cellspacing="0" rules="all">
								<thead>
							    <tr class="text-center">
						        <th width="150">Prod. Group</th>
						        <th width="150">Model No.</th>
						        <th>Product Description</th>
						        <th width="200">Purchase Order No</th>
						        <th width="50">Qty</th>
						        <th width="100">Rate</th>
						        <th width="90">GST</th>
						        <th width="100">Amount</th>
							    </tr>
								</thead>
								<tbody>
							    <tr *ngFor="let prod of productDetails">
							    	<td><input type="text" disabled class="form-control" [value]="prod.group_name"></td>
							    	<td><input type="text" disabled class="form-control" [value]="prod.product_name"></td>
							    	<td style="height:90px" data-toggle="tooltip" data-placement="top" data-html="true" title="{{prod.tdescription}}">
							    		<textarea disabled [class.bg-pink]="(prod.is_paired)" class="form-control border-0" rows="3" [innerHTML]="prod.description"></textarea>
							    	</td>
							    	<td>
							    		<select class="form-control" [disabled]="(viewMode)" [(ngModel)]="prod.purchase_order_id" [ngModelOptions]="{standalone: true}" (change)="getPoInfo(prod)">
												<option [value]="null">-- Select PO --</option>
												<option value="0">Without PO</option>
												<option *ngFor="let itm of prod.purchase_orders" [value]="itm.id">{{itm.po_no}}</option>
											</select>
							    	</td>
							    	<td class="text-right">{{prod.qty}}</td>
							    	<td class="text-right"><input [disabled]="(viewMode)" type="text" class="form-control" [(ngModel)]="prod.rate" [ngModelOptions]="{standalone: true}" (blur)="setRate(prod)" appFormatInput></td>
							    	<td class="text-right">{{prod.gst_amount | number: '1.2-2'}}</td>
							    	<td class="text-right">{{prod.total_amount | number: '1.2-2'}}</td>
							    </tr>
							  </tbody>
							</table>
						</div>
						<div class="row m-0">
							<div class="col-md-5">
							</div>
							<div class="col-md-7">
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
										Purchase Item Amount, Rs.
									</label>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8">
										<input disabled type="number" class="form-control" value="{{toFixed(purchaseForm.value.item_amount)}}" placeholder="Purchase Item Amount, Rs.">
									</div>
								</div>
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
										Packing & Forwarding, Rs.
									</label>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8">
										<input type="number" class="form-control" formControlName="packing_amount" (keyup)="calculate()" placeholder="Packing & Forwarding, Rs." appFormatInput>
									</div>
								</div>
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
										Freight, Rs.
									</label>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8">
										<input type="number" class="form-control" formControlName="freight_amount" (keyup)="calculate()" placeholder="Freight, Rs." appFormatInput>
									</div>
								</div>
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
										Correction (+/-)
									</label>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8">
										<input type="number" class="form-control" formControlName="correction_amount" (keyup)="calculate()" placeholder="Correction" appFormatInput>
									</div>
								</div>
								<div class="form-group row mr-0">
									<label class="col-lg-4 col-md-4 col-sm-4 text-right col-xs-12 control-label">
										Bill Net Amount, Rs.
									</label>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt8">
										<input type="number" class="form-control" formControlName="net_amount" (keyup)="calculateCorrection()" placeholder="Bill Net Amount, Rs." appFormatInput>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="pt-3 text-left border-top pl-3">
							<button *ngIf="!viewMode && !clearMode" type="button" class="mr-2 btn btn-sm btn-undo">Undo</button>
							<button type="button" (click)="closeForm()" class="mr-2 btn btn-sm btn-close">Close</button>
							<button *ngIf="!viewMode && !clearMode" type="button" (click)="saveInfo()" class="mr-2 btn btn-sm btn-save">Save</button>
							<button *ngIf="clearMode" type="button" (click)="clearInfo()" class="mr-2 btn btn-sm btn-save">Clear</button>
						</div>
				</div>
			</div>
		</div>
	</div>
</form>

<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;background: #000000a1;" *ngIf="showDeleteModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Clear Rate</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showDeleteModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      		<h6>Are you sure to clear rates?</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-close" data-dismiss="modal" (click)="showDeleteModal = false">No</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="deleteData()">Clear</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;background: #000000a1;" *ngIf="showEditModal">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Purchase Rate</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showEditModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="row">
    			<div class="col-md-12">
    				<div class="form-group row mr-0">
      				<label class="col-md-3 text-right control-label">
								<span class="text-danger">*</span>Supplier
							</label>
							<div class="col-md-9">
								<select class="form-control" [(ngModel)]="supplierId" (change)="getPurchase('NEW')">
									<option [value]="null">-- Select Supplier --</option>
									<option *ngFor="let itm of suppliers" [value]="itm.id">{{itm.name}}</option>
								</select>
							</div>
						</div>
    			</div>
    			<div class="col-md-12">
    				<div class="form-group row mr-0">
      				<label class="col-md-3 text-right control-label">
								<span class="text-danger">*</span>Inv No
							</label>
							<div class="col-md-9">
								<select class="form-control" [(ngModel)]="purchaseId">
									<option [value]="null">-- Select Inv No --</option>
									<option *ngFor="let itm of purchases" [value]="itm.id">{{itm.sr_no}} | {{itm.invoice_no}} | {{itm.invoice_date | date : 'dd/MM/y'}} | {{itm.invoice_amount | number : '1.2-2'}}</option>
								</select>
							</div>
						</div>
    			</div>
    		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-close" (click)="showEditModal = false">Close</button>
        <button type="button" class="btn btn-sm btn-save" (click)="showData()">Show</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;background: #000000a1;" *ngIf="viewModeModal">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Purchase Rate</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearMode = false;viewMode = false;viewModeModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="row">
    			<div class="col-md-12">
    				<div class="form-group row mr-0">
      				<label class="col-md-3 text-right control-label">
								<span class="text-danger">*</span>Supplier
							</label>
							<div class="col-md-9">
								<select class="form-control" [(ngModel)]="supplierId" (change)="getPurchase('VIEW')">
									<option [value]="null">-- Select Supplier --</option>
									<option *ngFor="let itm of suppliers" [value]="itm.id">{{itm.name}}</option>
								</select>
							</div>
						</div>
    			</div>
    			<div class="col-md-12">
    				<div class="form-group row mr-0">
      				<label class="col-md-3 text-right control-label">
								<span class="text-danger">*</span>Inv No
							</label>
							<div class="col-md-9">
								<select class="form-control" [(ngModel)]="purchaseId">
									<option [value]="null">-- Select Inv No --</option>
									<option *ngFor="let itm of purchases" [value]="itm.id">{{itm.sr_no}} | {{itm.invoice_no}} | {{itm.invoice_date | date : 'dd/MM/y'}} | {{itm.invoice_amount | number : '1.2-2'}}</option>
								</select>
							</div>
						</div>
    			</div>
    		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-close" (click)="clearMode = false;viewMode = false;viewModeModal = false">Close</button>
        <button type="button" class="btn btn-sm btn-save" (click)="showData();">Show</button>
      </div>
    </div>
  </div>
</div>

<ngx-ui-loader></ngx-ui-loader>
